<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand home" href="#!home">Familielejr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li id="about" ng-show="isLoggedIn"><a href="#!about">Om familielejren</a></li>
            <li id="history" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Historie<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="campmap"><a href="#!campmap">Kort</a></li>
                    <li id="camplist"><a href="#!camplist">Liste over lejre</a></li>
                </ul>
            </li>
            <li id="familytree" ng-show="isLoggedIn"><a href="#!familytree">Stamtræ</a></li>
            <li id="photoalbum" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fotoalbum<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!photoupload">Upload af billeder</a></li>
                    <li><a href="#!photoalbum/1993">1993</a></li>
                    <li><a href="#!photoalbum/1994">1994</a></li>
                    <li><a href="#!photoalbum/1995">1995</a></li>
                    <li><a href="#!photoalbum/1996">1996</a></li>
                    <li><a href="#!photoalbum/1997">1997</a></li>
                    <li><a href="#!photoalbum/1998">1998</a></li>
                    <li><a href="#!photoalbum/1999">1999</a></li>
                    <li><a href="#!photoalbum/2000">2000</a></li>
                    <li><a href="#!photoalbum/2001">2001</a></li>
                    <li><a href="#!photoalbum/2002">2002</a></li>
                    <li><a href="#!photoalbum/2003">2003</a></li>
                    <li><a href="#!photoalbum/2004">2004</a></li>
                    <li><a href="#!photoalbum/2005">2005</a></li>
                    <li><a href="#!photoalbum/2006">2006</a></li>
                    <li><a href="#!photoalbum/2007">2007</a></li>
                    <li><a href="#!photoalbum/2008">2008</a></li>
                    <li><a href="#!photoalbum/2009">2009</a></li>
                    <li><a href="#!photoalbum/2010">2010</a></li>
                    <li><a href="#!photoalbum/2011">2011</a></li>
                    <li><a href="#!photoalbum/2012">2012</a></li>
                    <li><a href="#!photoalbum/2013">2013</a></li>
                    <li><a href="#!photoalbum/2014">2014</a></li>
                    <li><a href="#!photoalbum/2015">2015</a></li>
                    <li><a href="#!photoalbum/2016">2016</a></li>
                    <li><a href="#!photoalbum/2017">2017</a></li>
                    <li><a href="#!myphotoalbum">Mine billeder</a></li>
                </ul>
            </li>
            <li id="nextcamp" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Næste Familielejr<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="nextcampinfo"><a href="#!eventinfo">Information</a></li>
                    <li id="eventreg"><a href="#!eventregistration">Tilmelding</a></li>
                    <li id="eventregall"><a href="#!eventregistrationall">Liste over alle tilmeldte</a></li>
                </ul>
            </li>
            <li id="register" ng-show="!isLoggedIn"><a href="#!register">Registrer</a></li>
            <li id="login" ng-show="!isLoggedIn"><a href="#!login">Login</a></li>
            <li id="myaccount" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Min konto <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="logout"><a href="#!logout">Log ud</a></li>
                    <li id="myprofile"><a href="#!profile">Min profil</a></li>
                    <li id="changepassword"><a href="#!changepassword">Ændre kodeord</a></li>
                </ul>
            </li>
            <li id="organizer" ng-show="isLoggedIn && role < 2" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arrangør<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="invitationadmin"><a href="#!invitationadmin">Administrer invitation</a></li>
                    <li id="futurecamps"><a href="#!futurecamps">Fremtidige lejre</a></li>
                    <li id="registrationadmin"><a href="#!registrationadmin">Administrer tilmeldinger</a></li>
                    <li id="todolist"><a href="#!todolist">Huskelister</a></li>
                    <li id="finances"><a href="#!finances">Økonomi</a></li>
                    <li id="userlist"><a href="#!userlist">Brugere</a></li>
                </ul>
            </li>
            <li id="admin" ng-show="isLoggedIn && role < 1" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrator<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="usersadmin"><a href="#!usersadmin">Administrer brugere</a></li>
                    <li id="photoadmin"><a href="#!photoadmin">Administrer billeder</a></li>
                    <li id="todolistadmin"><a href="#!todolistadmin">Administrer Huskelister</a></li>
                </ul>
            </li>
            <li><a href="#!content">Kontakt</a></li>
        </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="blog-header">
    <h1 class="blog-title">Flensburg Familielejren</h1>
    <p class="lead blog-description">For efterkommere af Anna og Niels Flensburg.</p>
</div>

<div class="row">

    <div class="col-sm-8 blog-main">

        <div class="blog-post">
        <div class="row">
            <img class="img-responsive" src="images/2011/P1040441.JPG">
        </div>
        <h2 class="blog-post-title">Om familielejren</h2>
        <p class="blog-post-meta">January 1, 2018 by <a href="#">Mark</a></p>

        <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <hr>
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <h2>Heading</h2>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <pre><code>Example code block</code></pre>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
        </ol>
        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
        </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
            <h4>Quick links</h4>
            <!-- <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p> -->
            </div>
            <div class="sidebar-module">
            <h4>Her på siden</h4>
            <ol class="list-unstyled">
                <li><a href="#!campmap">Historisk kort</a></li>
                <li><a href="#!camplist">Historisk liste</a></li>
                <li><a href="#!photoupload">Upload dine billeder</a></li>
                <li><a href="#!myphotoalbum">Mine billeder</a></li>
                <li><a href="#!photoalbum/2016">Fotoalbum 2016</a></li>
                <li><a href="#!familytree">Stamtræ</a></li>
                <li><a href="#!eventinfo">Næste familielejr</a></li>
                <li><a href="#!eventregistration">Tilmelding</a></li>
                <li><a href="#!profile">Min profil</a></li>
                <li><a href="#!changepassword">Ændre kodeord</a></li>
                <li><a href="#!logout">Log ud</a></li>
            </ol>
            </div>
            <div class="sidebar-module">
            <h4>Andre steder:</h4>
            <ol class="list-unstyled">
                <li><a href="https://www.facebook.com/groups/152892984738123/" target="_blank">Facebook gruppen</a></li>
            </ol>
            </div>
    </div><!-- /.blog-sidebar -->

</div><!-- /.row -->

<script type="text/javascript">
    $('#about').addClass('active');
</script>