<div ng-include="'navigation.html'"></div>

<h2 class="heading">Regnskab for familielejr {{accyear}}</h2>
<p>Regnskab - forklaring</p>
<h3 class="heading">Indtægter</h3>
<h3 class="heading">Udgifter</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th width="8%">Beskrivelse</th>
            <th width="14%">Leverandør</th>
            <th width="40%">Dato</th>
            <th width="15%">Indført af</th>
            <th width="13%">Beløb</th>
            <th width="10%">Slet / Ændre</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Beholdning ved årets start</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{accounting.assetsStart}}</td>
            <td></td>
        </tr>
        <tr>
            <td>INDTÆGTER</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Indtægter fra deltagergebyr</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{accounting.participantsFee}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Andre indtægter</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{accounting.otherIncome}}</td>
            <td></td>
        </tr>
        <tr>
            <td>UDGIFTER</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="expense in expenses">
            <td>{{ expense.description }}</td>
            <td>{{ expense.vendor }}</td>
            <td>{{ expense.expensedate | date:'dd-MM-yyyy' : 'CET' }}</td>
            <td>{{ expense.registeree }}</td>
            <td>{{ expense.expenseprice }}</td>
            <td>
                <a class="btn btn-primary" ng-click="editTodoToggle(todo)">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" ng-click="removeTodo(todo)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>SAMLEDE UDGIFTER</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{accounting.expensesTotal}}</td>
            <td></td>
        </tr>
        <tr>
            <td>ÅRETS RESULTAT</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ÅRETS RESULTAT</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{accounting.result}}</td>
            <td></td>
        </tr>
        <tr>
            <td>FORVENTET BEHOLDNING EFTER ÅRETS LEJR</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Forventet beholdning efter årets lejr</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{accounting.assetsEnd}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
<h3 class="heading">Årets resultat</h3>
<hr>
<div ng-show="newTodo">
    <h2>Indtast nyt punkt til huskelisten {{newTodo}} </h2>
    <form name="newTodoForm" ng-submit="addTodo()">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Kategori</label>
                <select class="form-control" ng-model="category" name="category" required>
                    <option ng-repeat="category in categories" value="{{category.category}}">{{category.category}}</option>
                </select>
                <i ng-show="newTodoForm.category.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label>Beskrivelse</label>
                <textarea class="form-control" ng-model="text" name="text" rows="3" placeholder="Beskrivelse" required></textarea>
                <i ng-show="newTodoForm.text.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button ng-disabled="newTodoForm.$invalid" type="submit" class="btn btn-primary">Send</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning" ng-click="newTodoToggle()">Afbryd</a>
            </div>
        </div>
    </form>
</div>
<div ng-show="editTodo">
    <h2>Ændre et punkt til huskelisten {{editTodo}} </h2>
    <form name="editTodoForm" ng-submit="todoEdit()">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Kategori</label>
                <select class="form-control" ng-model="editCategory" name="editCategory" required>
                    <option ng-repeat="category in categories" value="{{category.category}}">{{category.category}}</option>
                </select>
                <i ng-show="editTodoForm.editCategory.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label>Beskrivelse</label>
                <textarea class="form-control" ng-model="editText" name="editText" rows="3" placeholder="Beskrivelse" required></textarea>
                <i ng-show="editTodoForm.editText.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button ng-disabled="editTodoForm.$invalid" type="submit" class="btn btn-primary">Send</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning" ng-click="editTodoToggle()">Afbryd</a>
            </div>
        </div>
    </form>
</div>
<div class="row actions" ng-show="!newTodo && !editTodo">
    <div class="col-md-4">
        <a class="btn btn-info btn-lg btn-block" ng-click="newTodoToggle()">Indtast nyt punkt til huskelisten</a>
    </div>
</div>

<script type="text/javascript">
    $('#organizer').addClass('active');
    $('#todolist').addClass('active');
</script>
