<div ng-include="'navigation.html'"></div>

<div>
    <h2>ARKIVET</h2>
    <p>Arkivet indholder alle gamle dokumenter opdelt i kategorier (invitationer, menuer og madplaner, regnskaber, osv.) 
        Herunder finder du en link til hvert dokument. Når du klikker på linket, åbnes en ny fane eller vindue med 
        dokumentet. Du kan komme ud for, at åbning af dokumentet blokeres af sikkerhedshensyn. I så fald skal du give 
        tilladelse til pop-up's i din browser for denne hjemmeside.</p>
</div>
<div ng-show="!newCampEntry && docsExist">
    <div class="col-md-4">
        <h2>Liste over dokumenter</h2>
    </div>
    <div class="col-md-5">
        <form name="formFilter" class="formSearchUser" id="formFilter" ng-submit="_filter()" novalidate>
            <div class="form-group col-md-6">
                <label>Kategori</label>
                <select class="form-control" ng-model="docCategory" name="docCategory" required>
                    <option ng-repeat="docCat in categories" value="{{docCat.category}}">{{docCat.category}}</option>
                </select>
                <!-- <i ng-show="formFilter.docCategory.$error.required">*Skal udfyldes</i> -->
            </div>
            <div class="form-group col-md-4">
                <label>Filtrering</label>
                <button ng-disabled="formFilter.$invalid" class="btn btn-primary" type="submit">Filtrer</button>
            </div>
        </form>
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="14%">Begivenhed
                    <a ng-click="_sort('eventName', 'up')">
                        <span class="glyphicon glyphicon-chevron-up" ng-mouseover="showPopoverSortFn('event', 'up')" ng-mouseleave="hidePopoverSortFn('event', 'up')"></span>
                        <div class="mypopover" ng-show="eventUpPopoverIsVisible">Sortere efter begivenhed, op</div>
                    </a>
                    <a ng-click="_sort('eventName', 'down')">
                        <span class="glyphicon glyphicon-chevron-down" ng-mouseover="showPopoverSortFn('event', 'down')" ng-mouseleave="hidePopoverSortFn('event', 'down')"></span>
                        <div class="mypopover" ng-show="eventDnPopoverIsVisible">Sortere efter begivenhed, ned</div>
                    </a>
                </th>
                <th width="6%">År
                    <a ng-click="_sort('year', 'up')">
                        <span class="glyphicon glyphicon-chevron-up" ng-mouseover="showPopoverSortFn('year', 'up')" ng-mouseleave="hidePopoverSortFn('year', 'up')"></span>
                        <div class="mypopover" ng-show="yearUpPopoverIsVisible">Sortere efter år, op</div>
                    </a>
                    <a ng-click="_sort('year', 'down')">
                        <span class="glyphicon glyphicon-chevron-down" ng-mouseover="showPopoverSortFn('year', 'down')" ng-mouseleave="hidePopoverSortFn('year', 'down')"></span>
                        <div class="mypopover" ng-show="yearDnPopoverIsVisible">Sortere efter år, ned</div>
                    </a>
                </th>
                <th width="40%">Beskrivelse</th>
                <th width="13%">Kategori
                    <a ng-click="_sort('category', 'up')">
                        <span class="glyphicon glyphicon-chevron-up" ng-mouseover="showPopoverSortFn('category', 'up')" ng-mouseleave="hidePopoverSortFn('category', 'up')"></span>
                        <div class="mypopover" ng-show="catUpPopoverIsVisible">Sortere efter kategori, op</div>
                    </a>
                    <a ng-click="_sort('category', 'down')">
                        <span class="glyphicon glyphicon-chevron-down" ng-mouseover="showPopoverSortFn('category', 'down')" ng-mouseleave="hidePopoverSortFn('category', 'down')"></span>
                        <div class="mypopover" ng-show="catDnPopoverIsVisible">Sortere efter kategori, ned</div>
                    </a>
                </th>
                <th width="13%">Lagt op af</th>
                <th width="14%" ng-show="role==0">Ændre / Slette</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doc in docs">
                <td>{{ doc.eventName }}</td>
                <td>{{ doc.year }}</td>
                <td><a ng-click="getDoc(doc)">{{ doc.description }}</a></td>
                <td>{{ doc.category }}</td>
                <td>{{ doc.uploader }}</td>
                <td>
                    <!-- <a class="btn btn-primary" ng-click="editDoc(doc)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="docDetails(doc)">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a> -->
                    <a class="btn btn-primary" ng-click="removeDoc(doc)" ng-show="role==0">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="!docsExist">
    <tr>
        <td></td><td>Der er ikke nogen dokumenter endnu</td>
    </tr>
</div>
<hr>
<div>
    <div class="col-md-offset-4 col-md-4">
        <a class="btn btn-primary btn-lg btn-block" href="#!docupload">Upload dokumenter</a>
    </div>
    <div class="col-md-offset-4 col-md-4">
        <p></p>
    </div>
</div>
