<div ng-include="'navigation.html'"></div>

<div>
    <h2>ARKIVET</h2>
    <p>Arkivet indholder alle gamle dokumenter opdelt i kategorier (invitationer, menuer og madplaner, regnskaber, osv.) 
        Herunder finder du en link til hvert dokument. Når du klikker på linket, åbnes en ny fane eller vindue med 
        dokumentet. Du kan komme ud for, at åbning af dokumentet blokeres af sikkerhedshensyn. I så fald skal du give 
        tilladelse til pop-up's i din browser for denne hjemmeside.</p>
</div>
<div ng-show="!newCampEntry && docsExist">
    <h2>Liste over dokumenter</h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="14%">Begivenhed</th>
                <th width="6%">År</th>
                <th width="40%">Beskrivelse</th>
                <th width="13%">Kategori</th>
                <th width="13%">Lagt op af</th>
                <th width="14%" ng-show="role==0">Ændre / Slette</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doc in docs">
                <td>{{ doc.eventName }}</td>
                <td>{{ doc.year }}</td>
                <td><a ng-click="getDoc(doc)">{{ doc.description }}</a></td>
                <td>{{ doc.category }}</td>
                <td>{{ doc.uploader }}</td>
                <td>
                    <!-- <a class="btn btn-primary" ng-click="editDoc(doc)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="docDetails(doc)">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a> -->
                    <a class="btn btn-primary" ng-click="removeDoc(doc)" ng-show="role==0">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="!docsExist">
    <tr>
        <td></td><td>Der er ikke nogen dokumenter endnu</td>
    </tr>
</div>
<hr>
<div>
    <div class="col-md-offset-4 col-md-4">
        <a class="btn btn-primary btn-lg btn-block" href="#!docupload">Upload dokumenter</a>
    </div>
    <div class="col-md-offset-4 col-md-4">
        <p></p>
    </div>
</div>
