<div ng-include="'navigation.html'"></div>

<h2 class="heading">Liste over lejrskoler</h2>
<p>Denne liste er ikke komplet. Hvis I kan huske, hvor vi har været de år, der ikke er med i listen, 
    så skriv til bo_finnemann@hotmail.com</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th width="8%">År</th>
            <th width="14%">Lejr</th>
            <th width="35%">Adresse</th>
            <th width="30%">Hjemmeside</th>
            <th width="13%">Kort</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="camp in camps">
            <td>{{ camp.year }}</td>
            <td>{{ camp.name }}</td>
            <td>{{ camp.address }}</td>
            <td><a href="{{camp.website}}" target="#">{{ camp.website }}</a></td>
            <td></td>
        </tr>
    </tbody>
</table>
