<div ng-include="'navigation.html'"></div>

<div class="page-header">
    <h1>Hvor var vi og hvornår? Se det på Danmarkskortet.</h1>
</div>
<br>
<div class="row">
    <div class="campmap angular-google-map-container col-md-8">
        <ui-gmap-google-map ng-if="map.center" center='map.center' zoom='map.zoom'>
            <ui-gmap-window coords="MapOptions.markers.selected.coords" show="windowOptions.show" options="windowOptions" closeClick="closeClick()">
                <div>{{ wincontent }}</div>
            </ui-gmap-window>
            <ui-gmap-markers models="markers" idkey="markers.id" coords="'coords'" click="onClick" events="markers.events"></ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
</div>
