<div ng-include="'navigation.html'"></div>

<div ng-controller = "changepwdCtrl">
    <form name="changepwd" id="changepwd" class="changepwd" ng-submit="changePwd()" novalidate>
        <div class="text-center">
            <h2 class="form-signin-heading">Ændre kodeord</h2>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <label for="currentPassword">Nuværende kodeord</label>
                <input type="password" id="currentPassword" name="currentPassword" ng-model="currentPassword" class="form-control" placeholder="Kodeord" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <label for="newPassword">Nyt kodeord</label>
                <input type="password" id="newPassword" name="newPassword" ng-model="newPassword" ng-minlength="8" ng-maxlength="12" class="form-control" placeholder="Nyt kodeord" required>
                <i ng-show="changepwd.newPassword.$error.minlength">Mindst 8 karakterer. </i>
                <i ng-show="changepwd.newPassword.$error.maxlength">Højst 12 karakterer. </i>
                <i ng-show="changepwd.newPassword.$error.required">Skal indtastes. </i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <label for="repeatnewPassword">Gentag nyt kodeord</label>
                <input type="password" id="repeatnewPassword" name="repeatnewPassword" ng-model="repeatnewPassword" ng-minlength="8" ng-maxlength="12" class="form-control" placeholder="Gentag nyt kodeord" required>
                <i class="notidentical hidden">De to kodeord er ikke identiske</i>
                <i ng-show="changepwd.repeatnewPassword.$error.minlength">Mindst 8 karakterer. </i>
                <i ng-show="changepwd.repeatnewPassword.$error.maxlength">Højst 12 karakterer. </i>
                <i ng-show="changepwd.repeatnewPassword.$error.required">Skal indtastes. </i>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <button ng-disabled="changepwd.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Ændre kodeord</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <a href="#!profile" class="btn btn-danger btn-lg btn-block">Fortryd</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    $('#repeatnewPassword').change(function() {
        console.log('Repeat-password changed');
        if ($('#newPassword').val() != $('#repeatnewPassword').val()) {
            console.log('They are different');
            $('.notidentical').removeClass('hidden');
            // $('.btn').addClass('hidden');
        } else {
            console.log('They are identical');
            $('.notidentical').addClass('hidden');
            //$('.btn').removeClass('hidden');
        };
    });
</script>
