<div ng-include="'navigation.html'"></div>

<h1>Kontakt</h1>
<p>I tilfælde af:</p>
<ul style="list-style-type:disc">
    <li>Kommentarer til hjemmesiden</li>
    <li>Forslag til ændringer</li>
    <li>Forslag til nyt indhold</li>
</ul>
<p>Skriv til <a href="mailto: bo_finnemann@hotmail.com">Bo Finnemann</a>.</p>
<p>Hvis du har behov for at få ændret status til arrangør, skriv til:</p>
<p><a href="mailto: bo_finnemann@hotmail.com">Bo Finnemann</a> eller <a href="mailto: mortenfinnemann@gmail.com">Morten Finnemann</a>.</p>