<div ng-include="'navigation.html'"></div>

<div ng-show="role != 2">
    <h2>Oversigt over deltagelse i Familielejr {{ invitationyear }}</h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="25%"></th>
                <th width="25%">Fredag</th>
                <th width="25%">Lørdag</th>
                <th width="25%">Søndag</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Morgenmad</td>
                <td></td>
                <td>Voksne: {{breakfasts[0][0]}}, Børn: {{breakfasts[1][0]}}</td>
                <td>Voksne: {{breakfasts[0][1]}}, Børn: {{breakfasts[1][1]}}</td>
            </tr>
            <tr>
                <td>Frokost</td>
                <td></td>
                <td>Voksne: {{lunchs[0][0]}}, Børn: {{lunchs[1][0]}}</td>
                <td>Voksne: {{lunchs[0][1]}}, Børn: {{lunchs[1][1]}}</td>
            </tr>
            <tr>
                <td>Aftensmad</td>
                <td>Voksne: {{dinners[0][0]}}, Børn: {{dinners[1][0]}}</td>
                <td>Voksne: {{dinners[0][1]}}, Børn: {{dinners[1][1]}}</td>
                <td></td>
            </tr>
            <tr>
                <td>Antal tilmeldte</td>
                <td>Voksne: {{friday[0]}}, Børn: {{friday[1]}}</td>
                <td>Voksne: {{saturday[0]}}, Børn: {{saturday[1]}}</td>
                <td>Voksne: {{sunday[0]}}, Børn: {{sunday[1]}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div>
    <h2>Liste over alle tilmeldte ({{registrations.length}}) til Familielejr {{ invitationyear }}</h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%">Navn</th>
                <th width="12%">Voksen / Barn</th>
                <th width="14%">Ankomst</th>
                <th width="10%">Ankomsttidspunkt</th>
                <th width="15%">Afgang</th>
                <th width="10%">Afgangstidspunkt</th>
                <th width="15%">Tilmeldt af</th>
                <th ng-show="role != 2" width="9%">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="registration in registrations">
                <td>{{ registration.name }}</td>
                <td>{{ registration.agegroup }}</td>
                <td>{{ registration.arrivalday }}</td>
                <td>{{ registration.arrivaltime | date:'HH:mm' : 'CET' }}</td>
                <td>{{ registration.departureday }}</td>
                <td>{{ registration.departuretime | date:'HH:mm' : 'CET' }}</td>
                <td>{{ registration.registeree }}</td>
                <td ng-show="role != 2">
                    <a class="btn btn-primary" ng-click="adminRemoveReg(registration)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="!registrations[0]">
    <tr>
        <td></td><td>Der er ikke tilmeldt nogen endnu</td>
    </tr>
</div>
