<div ng-include="'navigation.html'"></div>

<div class="form-group col-md-12" ng-show="!invitationSelected">
    <h2>{{ selectInvitationText }}</h2>
    <!-- <select class="form-control" ng-model="selEvent" name="selEvent" ng-change="selectInvitation()">
        <option ng-repeat="event in faevents" value="{{event}}">{{event.eventName}}</option>
    </select> -->
</div>

<div class="row" ng-show="role != 2 && invitationSelected">
    <h2>Oversigt over deltagelse i {{ selectedInvitation.eventName }}</h2>
    <hr>
    <table class="table table-striped" name="oversigt" id="oversigt">
        <thead>
            <tr>
                <th width="25%"></th>
                <th width="25%">Fredag</th>
                <th width="25%">Lørdag</th>
                <th width="25%">Søndag</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Morgenmad</td>
                <td></td>
                <td>Voksne: {{breakfasts[0][0]}}, Børn: {{breakfasts[1][0]}}</td>
                <td>Voksne: {{breakfasts[0][1]}}, Børn: {{breakfasts[1][1]}}</td>
            </tr>
            <tr>
                <td>Frokost</td>
                <td></td>
                <td>Voksne: {{lunchs[0][0]}}, Børn: {{lunchs[1][0]}}</td>
                <td>Voksne: {{lunchs[0][1]}}, Børn: {{lunchs[1][1]}}</td>
            </tr>
            <tr>
                <td>Aftensmad</td>
                <td>Voksne: {{dinners[0][0]}}, Børn: {{dinners[1][0]}}</td>
                <td>Voksne: {{dinners[0][1]}}, Børn: {{dinners[1][1]}}</td>
                <td></td>
            </tr>
            <tr>
                <td>Antal tilmeldte</td>
                <td>Voksne: {{friday[0]}}, Børn: {{friday[1]}}</td>
                <td>Voksne: {{saturday[0]}}, Børn: {{saturday[1]}}</td>
                <td>Voksne: {{sunday[0]}}, Børn: {{sunday[1]}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" ng-show="invitationSelected">
    <div class="col-md-7">
        <h2>Til- og fra-meldte ({{registrations.length}}) til {{ selectedInvitation.eventName }}</h2>
    </div>
    <div class="col-md-5">
        <form name="formSearchUser" class="formSearchUser" id="formSearchUser" ng-submit="searchUser()" novalidate>
            <div class="form-group col-md-8">
                <label>Søgetekst: Fornavn, efternavn eller del af</label>
                <input type="text" class="form-control" ng-model="searchtext" name="searchtext" placeholder="tekst til søgning" required>
            </div>
            <div class="form-group col-md-4">
                <label>Søg.....</label>
                <button ng-disabled="formSearchUser.$invalid" class="btn btn-primary" type="submit">... og du skal finde</button>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-show="invitationSelected">
    <div class="col-md-7">
        <h3>{{numAttendees}} er tilmeldt og {{numNonAttendees}} er frameldt</h3>
    </div>
</div>
<div class="row" ng-show="sorting || searching">
    <div class="col-md-4" ng-show="sorting">
        <h4>Sorteret {{sortDirection}}</h4>
    </div>
    <div class="col-md-4" ng-show="searching">
        <h4>Søgning på navn med teksten: {{searchtext}}</h4>
    </div>
    <div class="col-md-4">
        <a class="btn btn-info" ng-click="resetSortSearch()">Tilbage</a>
    </div>
</div>
<div class="row" ng-show="invitationSelected">
    <table class="table table-striped" name="deltagerliste" id="deltagerliste">
        <thead>
            <tr>
                <th width="13%">Navn
                    <a ng-click="sortByName('up')">
                        <span class="glyphicon glyphicon-chevron-up" ng-mouseover="showPopoverSortFnUp()" ng-mouseleave="hidePopoverSortFnUp()"></span>
                        <div class="mypopover" ng-show="FnUpPopoverIsVisible">Sortere efter navn, op</div>
                    </a>
                    <a ng-click="sortByName('down')">
                        <span class="glyphicon glyphicon-chevron-down" ng-mouseover="showPopoverSortFnDn()" ng-mouseleave="hidePopoverSortFnDn()"></span>
                        <div class="mypopover" ng-show="FnDnPopoverIsVisible">Sortere efter navn, ned</div>
                    </a>
                </th>
                <th width="12%">Kategori</th>
                <th width="15%">Ankomst</th>
                <!-- <th width="7%">~tid</th> -->
                <th width="15%">Afgang</th>
                <!-- <th width="7%">~tid</th> -->
                <th width="14%">Diæt</th>
                <th width="12%">Tilmeldt af</th>
                <th ng-show="role != 2" width="5%">Pris</th>
                <th ng-show="role != 2 && !fyLocked" width="9%">Ændre/Slet</th>
                <th ng-show="role != 2 && !fyLocked" width="5%">Betalt</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="registration in registrations">
                <td>{{ registration.name }}</td>
                <td>{{ registration.participantCategory }}</td>
                <td ng-show="registration.willattend">{{ registration.arrivalOption }} {{ registration.arrivaltime | date:'HH:mm' : 'CET' }}</td>
                <td ng-hide="registration.willattend" class="willnotattend">Deltager ikke</td>
                <!-- <td>{{ registration.arrivaltime | date:'HH:mm' : 'CET' }}</td> -->
                <td>{{ registration.departureOption }} {{ registration.departuretime | date:'HH:mm' : 'CET' }}</td>
                <!-- <td>{{ registration.departuretime | date:'HH:mm' : 'CET' }}</td> -->
                <td>{{ registration.diet }}</td>
                <td>{{ registration.registeree }}</td>
                <td ng-show="role != 2" align="right">{{ registration.fee | number:0 }}</td>
                <td ng-show="role != 2 && !fyLocked">
                    <a class="btn btn-primary" ng-click="editRegistrationToggle(registration)">
                        <i class="glyphicon glyphicon-edit" ng-mouseover="showPopoverEditRegistration(registration.num)" ng-mouseleave="hidePopoverEditRegistration(registration.num)"></i>
                        <div class="mypopover" ng-show="registration.EditRegistrationPopoverIsVisible">Ændre tilmelding for {{registration.name}}</div>
                    </a>
                    <a class="btn btn-primary" ng-click="adminRemoveReg(registration)">
                        <i class="glyphicon glyphicon-trash" ng-mouseover="showPopoverRemRegistration(registration.num)" ng-mouseleave="hidePopoverRemRegistration(registration.num)"></i>
                        <div class="mypopover" ng-show="registration.RemRegistrationPopoverIsVisible">Slet tilmelding for {{registration.name}}</div>
                    </a>
                </td>
                <td ng-show="role != 2 && !fyLocked && registration.willattend">
                    <input type="checkbox" ng-model="registration.paid" id="paid" ng-change="paidStatus(registration)">
                </td>
            </tr>
            <tr ng-show="role != 2 && registrations.length > 0">
                <td>Total deltagergebyr</td>
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td align="right">{{feeSum}}</td>
                <td ng-show="role != 2 && !fyLocked"></td>
                <td ng-show="role != 2 && !fyLocked"></td>
            </tr>
            <tr ng-show="role != 2 && registrations.length > 0">
                <td>Totalt indbetalt</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td align="right">{{feePaidSum}}</td>
                <td ng-show="role != 2 && !fyLocked"></td>
                <td ng-show="role != 2 && !fyLocked"></td>
            </tr>
            <tr ng-show="registrations.length == 0">
                <td>Der er ikke tilmeldt nogen endnu</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="editRegistration">
    <!-- <div ng-include="'views/editeventreg.html'"></div> -->
    <h3 class="heading">Ændre tilmeldingen af {{editRegname}}</h3>
    <form name="editEventregForm" ng-submit="editEventreg()">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Deltager i {{selectedInvitation.eventName}}</label>
                <input type="checkbox" ng-model="willattend" id="willattend" ng-change="attendPositive()">
            </div>
            <div class="form-group col-md-4">
                <label>Deltager ikke i {{selectedInvitation.eventName}}</label>
                <input type="checkbox" ng-model="willnotattend" id="willnotattend" ng-change="attendNegative()">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Navn</label>
                <input type="text" class="form-control" ng-model="editRegname" name="editRegname" placeholder="Navn" autofocus required>
                <i ng-show="editEventregForm.regname.$error.required">*Skal udfyldes</i>
            </div>
            <div class="form-group col-md-2">
                <label>Kategori</label>
                <select class="form-control" ng-model="editPartCat" name="editPartCat" required>
                    <option ng-repeat="partCat in eventtype.participantCategories" value="{{partCat.name}}">{{partCat.name}}</option>
                </select>
                <i ng-show="editEventregForm.editPartCat.$error.required">*Skal udfyldes</i>
            </div>
            <div ng-show="willattend" class="form-group col-md-4">
                <label>Diæt / fødevareallergier</label>
                <input type="text" class="form-control" ng-model="editDiet" name="editDiet" placeholder="Diæt">
            </div>
        </div>
        <div ng-show="willattend" class="row">
            <div class="form-group col-md-3">
                <label>Ankomst</label>
                <select class="form-control" ng-model="editArrivalOption" name="editArrivalOption" required>
                    <option ng-repeat="arrivalOption in arrivalOptions" value="{{arrivalOption.arrivalOption}}">{{arrivalOption.arrivalOption}}</option>
                </select>
                <i ng-show="editEventregForm.arrivalOption.$error.required">*Skal udfyldes</i>
            </div>
            <div class="form-group col-md-2">
                <label>Ca. tid</label>
                <input type="time" class="form-control" ng-model="editArrivaltime" name="editArrivaltime">
            </div>
            <div class="form-group col-md-3">
                <label>Afgang</label>
                <select class="form-control" ng-model="editDepartureOption" name="editDepartureOption" required>
                    <option ng-repeat="departureOption in departureOptions" value="{{departureOption.departureOption}}">{{departureOption.departureOption}}</option>
                </select>
                <i ng-show="editEventregForm.departureOption.$error.required">*Skal udfyldes</i>
            </div>
            <div class="form-group col-md-2">
                <label>Ca. tid</label>
                <input type="time" class="form-control" ng-model="editDeparturetime" name="editDeparturetime">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Tilmeld / Afmeld</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning btn-lg btn-block" ng-click="cancelEdit()">Afbryd</a>
            </div>
        </div>
    </form>
</div>
<div class="row" ng-show="role != 2 && !fyLocked && !editRegistration && invitationSelected">
    <!-- <div class="col-md-4">
        <a class="btn btn-info btn-lg btn-block" ng-click="recalcFees()">Genudregn "Totalt indbetalt"</a>
    </div> -->
    <div class="col-md-4">
        <a class="btn btn-success btn-lg btn-block" href="#!eventregistrationallprint/{{ invitationyear }}" target="_blank">Print- og Excel-venlig deltagerliste</a>
    </div>
</div>
<div class="row col-md-12">
    <hr>
</div>
<div class="form-group col-md-4" ng-show="!editRegistration">
    <form name="otherEvent">
        <label>Se tilmeldinger fra en anden begivenhed:</label>
        <select class="form-control" ng-model="theOtherEvent" name="theOtherEvent" ng-change="registrationsFromOtherEvent()">
            <option ng-repeat="arEvent in arevents" value="{{arEvent}}">{{arEvent.eventName}}</option>
        </select>
        <label>Find tilmeldinger baseret på år:</label>
        <select class="form-control" ng-model="theOtherFy" name="theOtherFy" ng-change="newFy()">
            <option ng-repeat="fy in fys" value="{{fy.fy}}">{{fy.fy}}</option>
        </select>
    </form>
</div>
<!-- <div class="row actions" ng-show="role < 1">
    <div class="col-md-4">
        <a class="btn btn-danger btn-lg btn-block" ng-click="convertToEvents()">Convert to Events</a>
    </div>
</div> -->
<div class="row">
    <hr>
</div>
