<div ng-include="'navigation.html'"></div>

<div>
    <h2 ng-show="!invitationSelected">Tilmelding til en begivenhed</h2>
    <h2 ng-show="invitationSelected">Tilmelding til {{ selectedInvitation.eventName }}</h2>
    <div class="form-group col-md-6" ng-show="!invitationSelected">
        <label>Der er flere, aktive begivenheder, man kan tilmelde sig. Vælg begivenhed, du tilmelde til:</label>
        <select class="form-control" ng-model="selEvent" name="selEvent" ng-change="selectInvitation()">
            <option ng-repeat="event in faevents" value="{{event}}">{{event.eventName}}</option>
        </select>
    </div>
    <hr>
    <div class="row">
        <div class="form-group col-md-12">
            <p>Her kan du tilmelde dig og andre til den kommende familielejr. Der skal være en tilmelding per person = Du må ikke 
                have flere personer i samme tilmelding.</p>
            <p>Du kan ændre en tilmelding ved at klikke på "ændre-tegnet" ud for tilmeldingen eller du kan helt slette 
                en tilmelding ved at klikke på skraldespanden.
                <ul class="ul1organizerinstruction">
                    <li>En tilmelding må slettes eller ændres til kortere deltagelse op til 14 dage før lejrens start.</li>
                    <li>Nye tilmeldinger og ændring af tilmelding til længere deltagelse kan ske helt op til lejrens start.</li>
                </ul>
            </p>
            <p>
                En registrering er for enten en eller to dage. Om det bliver en eller to dage bestemmes således:
                <ul class="ul1organizerinstruction">
                    <li>Ankomst fredag, afgang søndag: 2 dage</li>
                    <li>Ankomst fredag, afgang lørdag efter aftensmad: 2 dage</li>
                    <li>Ankomst fredag, afgang lørdag eftermiddag eller tidligere: 1 dag</li>
                    <li>Ankomst lørdag formiddag, afgang søndag: 1 dag</li>
                    <li>Ankomst lørdag formiddag, afgang lørdag efter aftensmad eller tidligere: 1 dag</li>
                    <li>Ankomst lørdag efter frokost: 1 dag</li>
                    <li>Man bliver som hovedregel registreret for minimum en dag.</li>
                </ul>
            </p>
            <p>
                Du kan se prisen for tilmeldingen i oversigten over dine tilmeldinger.
            </p>
        </div>
    </div>
</div>
<div ng-show="!editRegistration && invitationSelected">
    <form name="eventregForm" ng-submit="addEventreg()">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Deltager i {{selectedInvitation.eventName}}</label>
                <input type="checkbox" ng-model="willattend" id="willattend" ng-change="attendPositive()">
            </div>
            <div class="form-group col-md-4">
                <label>Deltager ikke i {{selectedInvitation.eventName}}</label>
                <input type="checkbox" ng-model="willnotattend" id="willnotattend" ng-change="attendNegative()">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Navn</label>
                <input type="text" class="form-control" ng-model="regname" name="regname" placeholder="Navn" autofocus required>
                <i ng-show="eventregForm.regname.$error.required">*Skal udfyldes</i>
            </div>
            <div class="form-group col-md-2">
                <label>Kategori</label>
                <select class="form-control" ng-model="participantCategory" name="participantCategory" required>
                    <option ng-repeat="partCat in eventtype.participantCategories" value="{{partCat}}">{{partCat.name}}</option>
                </select>
                <i ng-show="eventregForm.participantCategory.$error.required">*Skal udfyldes</i>
            </div>
            <div ng-show="willattend" class="form-group col-md-4">
                <label>Diæt / fødevareallergier</label>
                <input type="text" class="form-control" ng-model="diet" name="diet" placeholder="Diæt">
            </div>
        </div>
        <div ng-show="willattend" class="row">
            <div class="form-group col-md-2">
                <label>Ankomst</label>
                <select class="form-control" ng-model="arrivalOption" name="arrivalOption" ng-required="willattend">
                    <option ng-repeat="arrivalOption in arrivalOptions" value="{{arrivalOption.arrivalOption}}">{{arrivalOption.arrivalOption}}</option>
                </select>
                <i ng-show="eventregForm.arrivalOption.$error.required">*Skal udfyldes</i>
            </div>
            <div class="form-group col-md-2">
                <label>Ca. tid</label>
                <input type="time" class="form-control" ng-model="arrivaltime" name="arrivaltime">
            </div>
            <div class="form-group col-md-2">
                <label>Afgang</label>
                <select class="form-control" ng-model="departureOption" name="departureOption" ng-required="willattend">
                    <option ng-repeat="departureOption in departureOptions" value="{{departureOption.departureOption}}">{{departureOption.departureOption}}</option>
                </select>
                <i ng-show="eventregForm.departureOption.$error.required">*Skal udfyldes</i>
            </div>
            <div class="form-group col-md-2">
                <label>Ca. tid</label>
                <input type="time" class="form-control" ng-model="departuretime" name="departuretime">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button ng-disabled="eventregForm.$invalid" type="submit" class="btn btn-lg btn-primary btn-block">Tilmeld / Afmeld</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning btn-lg btn-block" href="#!">Afbryd</a>
            </div>
        </div>
    </form>
</div>
<hr>
<h3 class="heading" ng-show="invitationSelected">Til {{ selectedInvitation.eventName }}, har du tilmeldt:</h3>
<table class="table table-striped" ng-show="invitationSelected">
    <thead>
        <tr>
            <th width="20%">Navn</th>
            <th width="12%">Kategori</th>
            <th width="18%">Ankomst</th>
            <th width="18%">Afgang</th>
            <th width="6%">~pris</th>
            <th width="16%">Diæt</th>
            <th width="10%">Ændre/Slet</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="registration in registrations">
            <td>{{ registration.name }}</td>
            <td>{{ registration.participantCategory }}</td>
            <td ng-show="registration.willattend">{{ registration.arrivalOption }} {{ registration.arrivaltime | date:'HH:mm' : 'CET' }}</td>
            <td ng-hide="registration.willattend" class="willnotattend">Deltager ikke</td>
            <td>{{ registration.departureOption }} {{ registration.departuretime | date:'HH:mm' : 'CET' }}</td>
            <td>{{ registration.fee | number:0 }}</td>
            <td>{{ registration.diet }}</td>
            <td>
                <a class="btn btn-primary" ng-click="editRegistrationToggle(registration)">
                    <i class="glyphicon glyphicon-edit" ng-mouseover="showPopoverEdit(registration.num)" ng-mouseleave="hidePopoverEdit(registration.num)"></i>
                    <div class="mypopover2" ng-show="registration.EditPopoverIsVisible">Ændre tilmelding for {{registration.name}}</div>
                </a>
                <a class="btn btn-primary" ng-click="removeReg(registration)">
                    <i class="glyphicon glyphicon-trash" ng-mouseover="showPopoverRem(registration.num)" ng-mouseleave="hidePopoverRem(registration.num)"></i>
                    <div class="mypopover2" ng-show="registration.RemPopoverIsVisible">Slet tilmelding for {{registration.name}}</div>
                </a>
            </td>
        </tr>
        <tr ng-show="registrations.length == 0">
            <td>Du har ikke tilmeldt nogen endnu</td>
        </tr>
    </tbody>
</table>
<br>
<div ng-show="editRegistration">
    <h3 class="heading">Ændre tilmeldingen af {{editRegname}}</h3>
    <form name="editEventregForm" ng-submit="editEventreg()">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Deltager i {{selectedInvitation.eventName}}</label>
                <input type="checkbox" ng-model="willattend" id="willattend" ng-change="attendPositive()">
            </div>
            <div class="form-group col-md-4">
                <label>Deltager ikke i {{selectedInvitation.eventName}}</label>
                <input type="checkbox" ng-model="willnotattend" id="willnotattend" ng-change="attendNegative()">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Navn</label>
                <input type="text" class="form-control" ng-model="editRegname" name="editRegname" placeholder="Navn" autofocus required>
                <i ng-show="editEventregForm.regname.$error.required">*Skal udfyldes</i>
            </div>
            <div class="form-group col-md-2">
                <label>Kategori</label>
                <select class="form-control" ng-model="editPartCat" name="editPartCat" required>
                    <option ng-repeat="partCat in eventtype.participantCategories" value="{{partCat.name}}">{{partCat.name}}</option>
                </select>
                <i ng-show="editEventregForm.editPartCat.$error.required">*Skal udfyldes</i>
            </div>
            <div ng-show="willattend" class="form-group col-md-4">
                <label>Diæt / fødevareallergier</label>
                <input type="text" class="form-control" ng-model="editDiet" name="editDiet" placeholder="Diæt">
            </div>
        </div>
        <div ng-show="willattend" class="row">
            <div class="form-group col-md-3">
                <label>Ankomst</label>
                <select class="form-control" ng-model="editArrivalOption" name="editArrivalOption" required>
                    <option ng-repeat="arrivalOption in arrivalOptions" value="{{arrivalOption.arrivalOption}}">{{arrivalOption.arrivalOption}}</option>
                </select>
                <i ng-show="editEventregForm.arrivalOption.$error.required">*Skal udfyldes</i>
            </div>
            <div class="form-group col-md-2">
                <label>Ca. tid</label>
                <input type="time" class="form-control" ng-model="editArrivaltime" name="editArrivaltime">
            </div>
            <div class="form-group col-md-3">
                <label>Afgang</label>
                <select class="form-control" ng-model="editDepartureOption" name="editDepartureOption" required>
                    <option ng-repeat="departureOption in departureOptions" value="{{departureOption.departureOption}}">{{departureOption.departureOption}}</option>
                </select>
                <i ng-show="editEventregForm.departureOption.$error.required">*Skal udfyldes</i>
            </div>
            <div class="form-group col-md-2">
                <label>Ca. tid</label>
                <input type="time" class="form-control" ng-model="editDeparturetime" name="editDeparturetime">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Tilmeld</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning btn-lg btn-block" ng-click="cancelEdit()">Afbryd</a>
            </div>
        </div>
    </form>
</div>
