<div ng-include="'navigation.html'"></div>

<div ng-if="invitationExists" class="row">
    <div class="blog-header">
        <h1 class="blog-title">{{invitation.headline}}, {{invitation.year}}</h1>
    </div>
    <hr>
    <div class="col-sm-6">
        <div class="well well-sm">
            <h4>I år skal vi være i {{invitation.camp}}. Adressen er:</h4>
            <p>{{invitation.address.street}}, {{invitation.address.zip}} {{invitation.address.town}}</p>
        </div>
        <div ng-show="invitation.text1" class="well well-sm">
            <p>{{invitation.text1}}</p>
        </div>
        <div class="well well-sm">
            <h4>Datoer og tidspunkter:</h4>
            <p>{{startday}} den {{startdate}}. {{startmonth}} kl. {{invitation.starttime | date:'HH:mm' : 'CET' }} til {{endday}} den {{enddate}}. {{endmonth}} kl. {{invitation.endtime | date:'HH:mm' : 'CET' }}</p>
        </div>
        <div class="well well-sm">
            <h4>Tilmelding:</h4>
            <ul style="list-style-type:none">
                <li>Senest {{deadlineday}} den {{deadlinedate}}. {{deadlinemonth}} til {{invitation.registration.receiver}}.</li>
                <li>Email: {{invitation.registration.email}}, Telefon: {{invitation.registration.phone}}</li>
            </ul>
            <p><a class="btn btn-success" href="#!eventregistration">Eller tilmeld her på siden</a></p>
        </div>
        <div class="well well-sm" ng-show="invitation.bring">
            <h4>Medbring:</h4>
            <p>{{invitation.bring}}</p>
        </div>
        <div class="well well-sm">
            <h4>Pris:</h4>
            <ul style="list-style-type:none">
                <li ng-show="priceModelType == 'old'">Per voksen, per dag: {{invitation.payment.adult}} kr.</li>
                <li ng-show="priceModelType == 'old'">Per barn, per dag: {{invitation.payment.child}} kr.</li>
                <li ng-show="priceModelType == 'new'">Per voksen: En dag: {{invitation.payment.newpricemodel.adult[0].price}} kr. To dage: {{invitation.payment.newpricemodel.adult[1].price}} kr.</li>
                <li ng-show="priceModelType == 'new'">Per barn 3-12: En dag: {{invitation.payment.newpricemodel.child[0].price}} kr. To dage: {{invitation.payment.newpricemodel.child[1].price}} kr.</li>
                <li ng-show="priceModelType == 'new'">Per barn under 3: En dag: {{invitation.payment.newpricemodel.smallchild[0].price}} kr. To dage: {{invitation.payment.newpricemodel.smallchild[1].price}} kr.</li>
            </ul>
            <p>Betalingsmuligheder:</p>
            <ul style="list-style-type:none">
                <li ng-show="invitation.payment.meansofpayment.cash">{{invitation.payment.paymentinfo.cash}}</li>
                <li ng-show="invitation.payment.meansofpayment.mobilepay">Mobilepay til: {{invitation.payment.paymentinfo.mobilepay}}</li>
                <li ng-show="invitation.payment.meansofpayment.bankpay">Overførsel til bankkonto: {{invitation.payment.paymentinfo.bankaccount.regno}} {{invitation.payment.paymentinfo.bankaccount.account}}</li>
            </ul>
        </div>
        <div ng-show="invitation.text2" class="well well-sm">
            <p>{{invitation.text2}}</p>
        </div>
        <div class="well well-sm">
            <h4>Mange hilsener fra arrangørerne:</h4>
            <ul style="list-style-type:none">
                <li ng-repeat="organizer in invitation.organizers">{{organizer.name}}</li>
            </ul>
        </div>
    </div>
    
    <div class="eventinfo angular-google-map-container col-md-6">
        <ui-gmap-google-map ng-if="map.center" center='map.center' zoom='map.zoom'>
            <ui-gmap-window coords="MapOptions.markers.selected.coords" show="windowOptions.show" options="windowOptions" closeClick="closeClick()">
                <div>{{ wincontent }}</div>
            </ui-gmap-window>
            <ui-gmap-markers models="markers" idkey="markers.id" coords="'coords'" click="onClick" events="markers.events"></ui-gmap-markers>
        </ui-gmap-google-map>
    </div>

</div><!-- /.row -->

<div ng-if="!invitationExists" class="row">
    <h1 class="blog-title">Der er endnu ikke nogen invitation for {{invyear}}. Kommer snart!</h1>
</div>
