<div ng-include="'navigation.html'"></div>

<div>
    <h2>Tilmelding til næste lejr i {{ invitationyear }}</h2>
    <hr>
    <div class="row" ng-show="errorHappened">
        <div class="form-group col-md-5">
            <p> Der skete en fejl. Prøv igen.</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-8">
            <p>Her kan du tilmelde dig og andre til den kommende familielejr. Der er ikke nogen 
                forbindelse mellem registrering på hjemmesiden og tilmelding, udover at du skal være 
                registreret og logget ind for at tilmelde nogen.</p>
        </div>
    </div>
    <form name="eventregForm" ng-submit="addEventreg()">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Navn</label>
                <input type="text" class="form-control" ng-model="regname" name="regname" placeholder="Navn" autofocus required>
                <i ng-show="eventregForm.regname.$error.required">*Skal udfyldes</i>
            </div>
            <div class="form-group col-md-4">
                <label>Barn / Voksen</label>
                <select class="form-control" ng-model="agegroup" name="agegroup" required>
                    <option ng-repeat="agegroup in agegroups" value="{{agegroup.agegroup}}">{{agegroup.agegroup}}</option>
                </select>
                <i ng-show="eventregForm.agegroup.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Ankomst</label>
                <select class="form-control" ng-model="arrivalday" name="arrivalday" required>
                    <option ng-repeat="arrivalday in arrivaldays" value="{{arrivalday.arrivalday}}">{{arrivalday.arrivalday}}</option>
                </select>
                <i ng-show="eventregForm.arrivalday.$error.required">*Skal udfyldes</i>
            </div>
            <div class="form-group col-md-2">
                <label>Ca. tid</label>
                <input type="time" class="form-control" ng-model="arrivaltime" name="arrivaltime">
            </div>
            <div class="form-group col-md-2">
                <label>Afgang</label>
                <select class="form-control" ng-model="departureday" name="departureday" required>
                    <option ng-repeat="departureday in departuredays" value="{{departureday.departureday}}">{{departureday.departureday}}</option>
                </select>
                <i ng-show="eventregForm.departureday.$error.required">*Skal udfyldes</i>
            </div>
            <div class="form-group col-md-2">
                <label>Ca. tid</label>
                <input type="time" class="form-control" ng-model="departuretime" name="departuretime">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Tilmeld</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning btn-lg btn-block" href="#!">Afbryd</a>
            </div>
        </div>
    </form>
</div>
<hr>
<h3 class="heading">Til familielejren 2018, har du tilmeldt:</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th width="20%">Navn</th>
            <th width="15%">Voksen / Barn</th>
            <th width="15%">Ankomst</th>
            <th width="15%">Ankomsttidspunkt</th>
            <th width="15%">Afgang</th>
            <th width="15%">Afgangstidspunkt</th>
            <th width="5%">Slet</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="registration in registrations">
            <td>{{ registration.name }}</td>
            <td>{{ registration.agegroup }}</td>
            <td>{{ registration.arrivalday }}</td>
            <td>{{ registration.arrivaltime | date:'HH:mm' : 'CET' }}</td>
            <td>{{ registration.departureday }}</td>
            <td>{{ registration.departuretime | date:'HH:mm' : 'CET' }}</td>
            <td>
<!-- 
                <a class="btn btn-primary" href="#!eventreg/edit/{{registration._id}}">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
 -->                
                <a class="btn btn-primary" ng-click="removeReg(registration)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div ng-if="registrations == false">
    <tr>
        <td></td><td>Du har ikke tilmeldt nogen endnu</td>
    </tr>
</div>
