<div>
    <div class="col-md-8">
        <h2>Liste over alle tilmeldte ({{registrations.length}}) til Familielejr {{ invitationyear }}</h2>
    </div>
    <hr>
    <table class="table table-striped" name="deltagerliste" id="deltagerliste">
        <thead>
            <tr>
                <th width="16%">Navn
                    <a ng-click="sortByName('up')">
                        <span class="glyphicon glyphicon-chevron-up" ng-mouseover="showPopoverSortFnUp()" ng-mouseleave="hidePopoverSortFnUp()"></span>
                        <div class="mypopover" ng-show="FnUpPopoverIsVisible">Sortere efter navn, op</div>
                    </a>
                    <a ng-click="sortByName('down')">
                        <span class="glyphicon glyphicon-chevron-down" ng-mouseover="showPopoverSortFnDn()" ng-mouseleave="hidePopoverSortFnDn()"></span>
                        <div class="mypopover" ng-show="FnDnPopoverIsVisible">Sortere efter navn, ned</div>
                    </a>
                </th>
                <th width="12%">Voksen / Barn</th>
                <th width="15%">Ankomst</th>
                <th width="17%">Afgang</th>
                <th width="14%">Diæt</th>
                <th width="15%">Tilmeldt af</th>
                <th ng-show="role != 2" width="6%">Pris</th>
                <th ng-show="role != 2 && !fyLocked" width="5%">Betalt</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="registration in registrations">
                <td>{{ registration.name }}</td>
                <td>{{ registration.agegroup }}</td>
                <td ng-show="registration.willattend">{{ registration.arrivalday }} {{ registration.arrivaltime | date:'HH:mm' : 'CET' }}</td>
                <td ng-hide="registration.willattend" class="willnotattend">Deltager ikke</td>
                <td>{{ registration.departureday }} {{ registration.departuretime | date:'HH:mm' : 'CET' }}</td>
                <td>{{ registration.diet }}</td>
                <td>{{ registration.registeree }}</td>
                <td ng-show="role != 2" align="right" data-t="n">{{ registration.fee | number:0 }}</td>
                <td ng-show="role != 2 && !fyLocked" align="center">
                    <span ng-if="registration.paid">X</span>
                </td>
            </tr>
            <tr ng-show="role != 2 && registrations.length > 0">
                <td>Total deltagergebyr</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td align="right" data-t="n">{{feeSum}}</td>
                <td ng-show="role != 2 && !fyLocked"></td>
            </tr>
            <tr ng-show="role != 2 && registrations.length > 0">
                <td>Totalt indbetalt</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td align="right" data-t="n">{{feePaidSum}}</td>
                <td ng-show="role != 2 && !fyLocked"></td>
            </tr>
            <tr ng-show="registrations.length > 0">
                <td>NB: Dette er en kopi, som ikke indeholder eventuelle opdateringer og nye registreringer. Den sande version er på hjemmesiden.</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" ng-show="role != 2 && !fyLocked && !editRegistration">
    <div class="col-md-4">
        <a class="btn btn-success btn-lg btn-block" onclick="makeExcelFile('deltagerliste', 'deltagerliste.xlsx', 'deltagerliste')">Hent Deltagerliste i Excel format</a>
    </div>
</div>
