<div ng-include="'navigation.html'"></div>

<div class="row">
        <div class="blog-header col-md-6">
            <h1 class="blog-title">Stamtræ</h1>
            <p class="lead blog-description">{{ familytreeDescription }}</p>
        </div>
        <div class="col-md-4" ng-show="role == 0">
            <a class="btn btn-warning btn-block" href="#!familytree/1/{{_L0_family_id}}/{{l1family._family_id}}">Forlad edit</a>
        </div>
    </div>
    
<div class="tree row">
	<ul>
		<li>
            <a href="#!familytreeedit/0/{{ _L0_family_id }}">
                <span ng-repeat="person in l1family.persons">
                    {{person.firstname}} {{person.middlename}}<br> {{person.surname}}<br>
                    <i ng-show="person.birth || person.pass">{{ person.birth | date:'dd-MM-yyyy' : 'CET' }} {{ person.pass | date:'dd-MM-yyyy' : 'CET' }}<br></i>
                </span>
            </a>
            <a class="btn btn-primary" ng-click="editFamily(l1family._family_id, 1)">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" ng-show="!l1family.thirdlevel[0]" ng-click="deleteFamily(l1family._family_id, 1, 0)">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
			<ul>
				<li ng-repeat="l2family in l1family.thirdlevel">
                    <a ng-click="showLevel3(l2family._family_id)">
                        <span ng-repeat="person in l2family.persons">
                            {{person.firstname}} {{person.middlename}}<br> {{person.surname}}<br>
                            <i ng-show="person.birth || person.pass">{{ person.birth | date:'dd-MM-yyyy' : 'CET' }} {{ person.pass | date:'dd-MM-yyyy' : 'CET' }}<br></i>
                        </span>
                    </a>
                    <a class="btn btn-primary" ng-click="editFamily(l2family._family_id, 2)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" ng-show="showL3Family == l2family._family_id && !L3Familytree[0]._family_id" ng-click="deleteFamily(l2family._family_id, 2, 0)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
					<ul>
						<li ng-show="showL3Family == l2family._family_id" ng-repeat="l3family in L3Familytree">
                            <a>
                                <span ng-repeat="person in l3family.persons">
                                    {{person.firstname}} {{person.middlename}}<br> {{person.surname}}<br>
                                    <i ng-show="person.birth || person.pass">{{ person.birth | date:'dd-MM-yyyy' : 'CET' }} {{ person.pass | date:'dd-MM-yyyy' : 'CET' }}<br></i>
                                </span>
                            </a>
                            <a class="btn btn-primary" ng-click="editFamily(l3family._family_id, 3)">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-primary" ng-show="!l3family.secondlevel[0]" ng-click="deleteFamily(l3family._family_id, 3, l3family._id)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
							<ul>
								<li ng-repeat="l4family in l3family.secondlevel">
                                    <a>
                                        <span ng-repeat="person in l4family.persons">
                                            {{person.firstname}} {{person.middlename}}<br> {{person.surname}}<br>
                                            <i ng-show="person.birth || person.pass">{{ person.birth | date:'dd-MM-yyyy' : 'CET' }} {{ person.pass | date:'dd-MM-yyyy' : 'CET' }}<br></i>
                                        </span>
                                    </a>
                                    <a class="btn btn-primary" ng-click="editFamily(l4family._family_id, 4)">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                    <a class="btn btn-primary" ng-show="!l4family.thirdlevel[0]" ng-click="deleteFamily(l4family._family_id, 4, l3family._id)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                    <ul>
                                        <li ng-repeat="l5family in l4family.thirdlevel">
                                            <a>
                                                <span ng-repeat="person in l5family.persons">
                                                    {{person.firstname}} {{person.middlename}}<br> {{person.surname}}<br>
                                                    <i ng-show="person.birth || person.pass">{{ person.birth | date:'dd-MM-yyyy' : 'CET' }} {{ person.pass | date:'dd-MM-yyyy' : 'CET' }}<br></i>
                                                </span>
                                            </a>
                                            <a class="btn btn-primary" ng-click="editFamily(l5family._family_id, 5)">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>
                                            <a class="btn btn-primary" ng-click="deleteFamily(l5family._family_id, 5, l3family._id)">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-primary" ng-click="addFamily(5,l4family._family_id, l3family._id)">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
								</li>
                                <li>
                                    <a class="btn btn-primary" ng-click="addFamily(4,l3family._family_id, l3family._id)">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="btn btn-primary" ng-click="addFamily(3,l2family._family_id, 0)">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                        </li>
					</ul>
                </li>
                <li>
                    <a class="btn btn-primary" ng-click="addFamily(2,l1family._family_id, 0)">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </li>
			</ul>
        </li>
        <!-- <li>
            <a class="btn btn-primary" href="#!familytreeedit">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </li> -->
        <li>
            <a class="btn btn-primary" href="#!familytreeedit/0/{{ _L0_family_id }}">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </li>
	</ul>
</div>

<br>
<div ng-show="addNamesForm || editNamesForm">
    <hr>
    <form name="form-addname" class="form-addname" ng-submit="addOrEditNames()">
        <h2 class="form-signin-heading">{{ headLine }}</h2>
        <div ng-repeat="x in nameArr">
            <div ng-show="newnameShow[x]">
                <h3 class="form-signin-heading">Person {{x+1}}</h3>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Fornavn</label>
                        <input type="text" class="form-control" ng-model="firstname[x]" placeholder="Fornavn">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Mellemnavn</label>
                        <input type="text" class="form-control" ng-model="middlename[x]" placeholder="Mellemnavn">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Efternavn</label>
                        <input type="text" class="form-control" ng-model="surname[x]" placeholder="Efternavn">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Født</label>
                        <input type="date" class="form-control" ng-model="birth[x]">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Bortgang</label>
                        <input type="date" class="form-control" ng-model="passdate[x]">
                    </div>
                    <div class="col-md-2" ng-show="numLines > 0">
                        <label style="color:white;">.</label>
                        <a class="btn btn-warning" ng-click="removeLine(x)">Fjern person {{x+1}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-info" ng-show="BtnShow[0]" ng-click="showLine()">Tilføj person 1</a>
            <a class="btn btn-info" ng-show="BtnShow[1] && firstname[0] != ''" ng-click="showLine()">Tilføj person 2</a>
            <a class="btn btn-info" ng-show="BtnShow[2] && firstname[1] != ''" ng-click="showLine()">Tilføj person 3</a>
            <a class="btn btn-info" ng-show="BtnShow[3] && firstname[2] != ''" ng-click="showLine()">Tilføj person 4</a>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4" ng-show="firstname[0] != ''">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
            </div>
            <div class="col-md-4" ng-show="addNamesForm">
                <a class="btn btn-danger btn-lg btn-block" ng-click="addFamily()">Fortryd</a>
            </div>
            <div class="col-md-4" ng-show="editNamesForm">
                <a class="btn btn-danger btn-lg btn-block" ng-click="editFamily()">Fortryd ændring</a>
            </div>
        </div>
    </form>
</div>
