<div ng-include="'navigation.html'"></div>

<div class="row">
    <div class="blog-header col-md-6">
        <h1 class="blog-title">Stamtræ</h1>
        <p class="lead blog-description">Det Flensburgske stamtræ</p>
    </div>
    <div class="col-md-4" ng-show="role == 0">
        <a class="btn btn-warning btn-block" href="#!familytreeedit">Ændre stamtræet</a>
    </div>
</div>

<div class="tree row">
	<ul>
		<li>
            <a>
                <span ng-repeat="person in familytree.persons">
                    {{person.firstname}} {{person.middlename}}<br> {{person.surname}}<br>
                    <i ng-show="person.birth || person.pass">{{ person.birth | date:'dd-MM-yyyy' : 'CET' }} {{ person.pass | date:'dd-MM-yyyy' : 'CET' }}<br></i>
                </span>
            </a>
			<ul>
				<li ng-repeat="l1family in familytree.secondlevel">
                    <a href="#!familytree/{{l1family._family_id}}">
                        <span ng-repeat="person in l1family.persons">
                            {{person.firstname}} {{person.middlename}}<br> {{person.surname}}<br>
                            <i ng-show="person.birth || person.pass">{{ person.birth | date:'dd-MM-yyyy' : 'CET' }} {{ person.pass | date:'dd-MM-yyyy' : 'CET' }}<br></i>
                        </span>
                    </a>
                </li>
			</ul>
		</li>
    </ul>
</div>
<br>
