<div ng-include="'navigation.html'"></div>

<div>
	<a href="#!futurecamps">Tilbage</a>
    <h1>{{camp.eventName}}, år: {{camp.year}}</h1>
    <hr>
    <div class="row">
        <h2>Lejr: {{camp.camp}}</h2>
        <div class="col-md-4">
            <h3>Adresse:</h3>
            <p>{{camp.address.street}}
            <p>{{camp.address.zip}} {{camp.address.town}}</p>
        </div>
        <div class="col-md-4">
            <h3>Arrangører</h3>
            <div ng-if="camp.organizers">
                <div ng-repeat="organizer in camp.organizers">
                    <p>{{organizer.orgname}}</p>
                </div>
            </div>
            <div ng-show="camp.organizers.length < 1">
                <p>Der er kke nogen arrangører</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Datoer</h3>
            <p>Startdato: {{camp.startdate | date:'dd-MM-yyyy' : 'CET' }}</p>
            <p>Slutdato: {{camp.enddate | date:'dd-MM-yyyy' : 'CET' }}</p>
        </div>
    </div>
    <div class="row">
        <h2>Udvalg</h2>
        <div ng-if="camp.committees">
            <div class="col-md-4" ng-repeat="committee in camp.committees">
                <h3>Navn: {{committee.name}}</h3>
                <p>Beskrivelse: {{committee.description}}</p>
                <h3>Deltagere:</h3>
                <p ng-repeat="member in committee.members">{{member.membername}}</p>
            </div>
        </div>
        <div ng-if="camp.committees.length < 1">
            <p>Der er ikke oprettet nogen udvalg.</p>
        </div>
    </div>
    <hr>
	<div ng-show="role < 2" class="actions">
		<a href="#!futurecamps/edit/{{camp._id}}" class="btn btn-default">Ændre lejren</a>
		<a href="#" class="btn btn-danger" ng-click="removeCamp()">Slet lejren</a>
	</div>
</div>
