<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand home" href="#!home">Familielejr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li id="about" ng-show="isLoggedIn"><a href="#!about">Om familielejren</a></li>
            <li id="history" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Historie<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="campmap"><a href="#!campmap">Kort</a></li>
                    <li id="camplist"><a href="#!camplist">Liste over lejre</a></li>
                </ul>
            </li>
            <li id="familytree" ng-show="isLoggedIn"><a href="#!familytree">Stamtræ</a></li>
            <li id="photoalbum" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fotoalbum<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!photooverview/global">Billedoversigt, alle billeder</a></li>
                    <li><a href="#!photooverview/my">Billedoversigt, mine billeder</a></li>
                    <li><a href="#!myphotoalbum/0">Alle mine billeder</a></li>
                    <li><a href="#!photoupload">Upload af billeder</a></li>
                    <li><a href="#!photoalbum/1993">1993</a></li>
                    <li><a href="#!photoalbum/1994">1994</a></li>
                    <li><a href="#!photoalbum/1995">1995</a></li>
                    <li><a href="#!photoalbum/1996">1996</a></li>
                    <li><a href="#!photoalbum/1997">1997</a></li>
                    <li><a href="#!photoalbum/1998">1998</a></li>
                    <li><a href="#!photoalbum/1999">1999</a></li>
                    <li><a href="#!photoalbum/2000">2000</a></li>
                    <li><a href="#!photoalbum/2001">2001</a></li>
                    <li><a href="#!photoalbum/2002">2002</a></li>
                    <li><a href="#!photoalbum/2003">2003</a></li>
                    <li><a href="#!photoalbum/2004">2004</a></li>
                    <li><a href="#!photoalbum/2005">2005</a></li>
                    <li><a href="#!photoalbum/2006">2006</a></li>
                    <li><a href="#!photoalbum/2007">2007</a></li>
                    <li><a href="#!photoalbum/2008">2008</a></li>
                    <li><a href="#!photoalbum/2009">2009</a></li>
                    <li><a href="#!photoalbum/2010">2010</a></li>
                    <li><a href="#!photoalbum/2011">2011</a></li>
                    <li><a href="#!photoalbum/2012">2012</a></li>
                    <li><a href="#!photoalbum/2013">2013</a></li>
                    <li><a href="#!photoalbum/2014">2014</a></li>
                    <li><a href="#!photoalbum/2015">2015</a></li>
                    <li><a href="#!photoalbum/2016">2016</a></li>
                    <li><a href="#!photoalbum/2017">2017</a></li>
                    <li><a href="#!photoalbum/2018">2018</a></li>
                </ul>
            </li>
            <li id="nextcamp" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Næste Familielejr<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="nextcampinfo"><a href="#!eventinfo">Information</a></li>
                    <li id="eventreg"><a href="#!eventregistration">Tilmelding</a></li>
                    <li id="eventregall"><a href="#!eventregistrationall">Liste over alle tilmeldte</a></li>
                </ul>
            </li>
            <li id="entertainment" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Underholdning<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="games"><a href="#!games">Lege og spil</a></li>
                </ul>
            </li>
            <li id="register" ng-show="!isLoggedIn"><a href="#!register">Registrer</a></li>
            <li id="login" ng-show="!isLoggedIn"><a href="#!login">Login</a></li>
            <li id="myaccount" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Min konto <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="logout"><a href="#!logout">Log ud</a></li>
                    <li id="myprofile"><a href="#!profile">Min profil</a></li>
                    <li id="changepassword"><a href="#!changepassword">Ændre kodeord</a></li>
                </ul>
            </li>
            <li id="organizer" ng-show="isLoggedIn && role < 2" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arrangør<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="invitationadmin"><a href="#!invitationadmin">Administrer invitation</a></li>
                    <li id="futurecamps"><a href="#!futurecamps">Fremtidige lejre</a></li>
                    <li id="eventregall"><a href="#!eventregistrationall">Administrer tilmeldinger</a></li>
                    <li id="todolist"><a href="#!todolist">Huskelister</a></li>
                    <li id="finances"><a href="#!finances">Økonomi</a></li>
                    <li id="usersadmin"><a href="#!usersadmin">Brugere</a></li>
                </ul>
            </li>
            <li id="admin" ng-show="isLoggedIn && role < 1" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrator<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="usersadmin"><a href="#!usersadmin">Administrer brugere</a></li>
                    <li id="photoadmin"><a href="#!photoalbum/2017">Administrer billeder</a></li>
                </ul>
            </li>
            <li id="contact" ng-show="isLoggedIn && role == 2"><a href="#!content">Kontakt</a></li>
        </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div ng-show="!newCampEntry">
    <h2>Liste over fremtidige familielejre</h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="8%">År</th>
                <th width="28%">Lejr</th>
                <th width="12%">Startdato</th>
                <th width="12%">Slutdato</th>
                <th width="24%">Arrangører</th>
                <th width="16%">Ændre / Se detaljer</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="camp in camps">
                <td>{{ camp.year }}</td>
                <td>{{ camp.camp }}, {{camp.address.street}}, {{camp.address.zip}} {{camp.address.town}}</td>
                <td>{{ camp.startdate | date:'dd-MM-yyyy' : 'CET' }}</td>
                <td>{{ camp.enddate | date:'dd-MM-yyyy' : 'CET' }}</td>
                <td><span ng-repeat="organizer in camp.organizers">{{organizer.orgname}}, </span></td>
                <td>
                    <a class="btn btn-primary" href="#!futurecamps/edit/{{camp._id}}">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" href="#!futurecamps/details/{{camp._id}}">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="camps == false">
    <tr>
        <td></td><td>Der er ikke nogen fremtidige lejre endnu</td>
    </tr>
</div>
<hr>
<div ng-show="newCampEntry">
    <form name="formFuturecamp" ng-submit="generateFuturecamp()" novalidate>
        <h2 class="form-signin-heading">Opret ny lejr</h2>
        <div class="row">
            <div class="col-md-8">
                <p>Her kan du som arrangør oprette en ny, fremtidig lejr</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label for="year">År</label>
                <input type="number" id="year" class="form-control" ng-model="year" placeholder="År" autofocus required>
            </div>
        </div>
        <h3 class="form-signin-heading">Detaljer om lejren</h3>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Lejrens navn</label>
                <input type="text" class="form-control" ng-model="camp" name="camp" placeholder="Lejrnavn">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label>Gade</label>
                <input type="text" class="form-control" ng-model="street" name="street" placeholder="Gadenavn">
            </div>
            <div class="form-group col-md-2">
                <label>Postnummer</label>
                <input type="text" class="form-control" ng-model="zip" name="zip" placeholder="Postnummer">
            </div>
            <div class="form-group col-md-3">
                <label>By</label>
                <input type="text" class="form-control" ng-model="town" name="town" placeholder="By">
            </div>
        </div>
        <h3 class="form-signin-heading">Datoer og tidspunkter</h3>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Startdato</label>
                <input type="date" class="form-control" ng-model="startdate" name="startdate">
            </div>
            <div class="form-group col-md-2">
                <label>Slutdato</label>
                <input type="date" class="form-control" ng-model="enddate" name="enddate">
            </div>
        </div>
        <h3 class="form-signin-heading">Arrangører - op til 5</h3>
        <div class="row">
            <div class="form-group col-md-3" ng-show="organizerShow[0]">
                <label for="headline">Arrangør 1</label>
                <input type="text" id="organizer[0]" class="form-control" ng-model="organizers[0]">
            </div>
            <div class="form-group col-md-3" ng-show="organizerShow[1]">
                <label for="headline">Arrangør 2</label>
                <input type="text" id="organizer[1]" class="form-control" ng-model="organizers[1]">
            </div>
            <div class="form-group col-md-3" ng-show="organizerShow[2]">
                <label for="headline">Arrangør 3</label>
                <input type="text" id="organizer[2]" class="form-control" ng-model="organizers[2]">
            </div>
            <div class="form-group col-md-3" ng-show="organizerShow[3]">
                <label for="headline">Arrangør 4</label>
                <input type="text" id="organizer[3]" class="form-control" ng-model="organizers[3]">
            </div>
            <div class="form-group col-md-3" ng-show="organizerShow[4]">
                <label for="headline">Arrangør 5</label>
                <input type="text" id="organizer[4]" class="form-control" ng-model="organizers[4]">
            </div>
        </div>
        <div class="row">
            <a class="btn btn-info form-group" ng-show="organizerBtnShow[1]" ng-click="showOrgLine()">Tilføj arrangør</a>
            <a class="btn btn-info form-group" ng-show="organizerBtnShow[2]" ng-click="showOrgLine()">Tilføj arrangør</a>
            <a class="btn btn-info" ng-show="organizerBtnShow[3]" ng-click="showOrgLine()">Tilføj arrangør</a>
            <a class="btn btn-info" ng-show="organizerBtnShow[4]" ng-click="showOrgLine()">Tilføj arrangør</a>
        </div>
        <h3 class="form-signin-heading">Aktivitetsudvalg - der kan oprettes op til tre</h3>
        <div class="row">
            <!-- Aktivitetsudvalg 1 -->
            <div ng-show="committeeShow[0]">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Udvalgets navn</label>
                        <input type="text" class="form-control" ng-model="committeeName[0]" name="committeeName[0]" placeholder="Udvalgets navn">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8">
                        <label>Beskrivelse</label>
                        <!-- <input type="text" class="form-control" ng-model="committeeDesc[0]" name="committeeDesc[0]" placeholder="Beskrivelse, noter, beslutninger, m.m."> -->
                        <textarea class="form-control" ng-model="committeeDesc[0]" name="committeeDesc[0]" rows="3" placeholder="Beskrivelse, noter, beslutninger, m.m."></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4" ng-show="commMemShow[0][0]">
                        <label>Udvalgsmedlem 1</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[0][0]" name="committeeMembers[0][0]" placeholder="Navn på udvalgsmedlem">
                    </div>
                    <div class="form-group col-md-4" ng-show="commMemShow[0][1]">
                        <label>Udvalgsmedlem 2</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[0][1]" name="committeeMembers[0][1]" placeholder="Navn på udvalgsmedlem">
                    </div>
                    <div class="form-group col-md-4" ng-show="commMemShow[0][2]">
                        <label>Udvalgsmedlem 3</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[0][2]" name="committeeMembers[0][2]" placeholder="Navn på udvalgsmedlem">
                    </div>
                    <div class="form-group col-md-4" ng-show="commMemShow[0][3]">
                        <label>Udvalgsmedlem 4</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[0][3]" name="committeeMembers[0][3]" placeholder="Navn på udvalgsmedlem">
                    </div>
                    <div class="form-group col-md-4" ng-show="commMemShow[0][4]">
                        <label>Udvalgsmedlem 5</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[0][4]" name="committeeMembers[0][4]" placeholder="Navn på udvalgsmedlem">
                    </div>
                </div>
                <div class="row form-group">
                    <a class="btn btn-info" ng-show="commMemBtnShow[0][1]" ng-click="showCommMemLine(0)">Tilføj udvalgsmedlem</a>
                    <a class="btn btn-info" ng-show="commMemBtnShow[0][2]" ng-click="showCommMemLine(0)">Tilføj udvalgsmedlem</a>
                    <a class="btn btn-info" ng-show="commMemBtnShow[0][3]" ng-click="showCommMemLine(0)">Tilføj udvalgsmedlem</a>
                    <a class="btn btn-info" ng-show="commMemBtnShow[0][4]" ng-click="showCommMemLine(0)">Tilføj udvalgsmedlem</a>
                </div>
            <hr>
            </div>
            <!-- Aktivitetsudvalg 2 -->
            <div ng-show="committeeShow[1]">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Udvalgets navn</label>
                        <input type="text" class="form-control" ng-model="committeeName[1]" name="committeeName[1]" placeholder="Udvalgets navn">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8">
                        <label>Beskrivelse</label>
                        <!-- <input type="text" class="form-control" ng-model="committeeDesc[1]" name="committeeDesc[1]" placeholder="Beskrivelse, noter, beslutninger, m.m."> -->
                        <textarea class="form-control" ng-model="committeeDesc[1]" name="committeeDesc[1]" rows="3" placeholder="Beskrivelse, noter, beslutninger, m.m."></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4" ng-show="commMemShow[1][0]">
                        <label>Udvalgsmedlem 1</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[1][0]" name="committeeMembers[1][0]" placeholder="Navn på udvalgsmedlem">
                    </div>
                    <div class="form-group col-md-4" ng-show="commMemShow[1][1]">
                        <label>Udvalgsmedlem 2</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[1][1]" name="committeeMembers[1][1]" placeholder="Navn på udvalgsmedlem">
                    </div>
                    <div class="form-group col-md-4" ng-show="commMemShow[1][2]">
                        <label>Udvalgsmedlem 3</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[1][2]" name="committeeMembers[1][2]" placeholder="Navn på udvalgsmedlem">
                    </div>
                    <div class="form-group col-md-4" ng-show="commMemShow[1][3]">
                        <label>Udvalgsmedlem 4</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[1][3]" name="committeeMembers[1][3]" placeholder="Navn på udvalgsmedlem">
                    </div>
                    <div class="form-group col-md-4" ng-show="commMemShow[1][4]">
                        <label>Udvalgsmedlem 5</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[1][4]" name="committeeMembers[1][4]" placeholder="Navn på udvalgsmedlem">
                    </div>
                </div>
                <div class="row">
                    <a class="btn btn-info form-group" ng-show="commMemBtnShow[1][1]" ng-click="showCommMemLine(1)">Tilføj udvalgsmedlem</a>
                    <a class="btn btn-info form-group" ng-show="commMemBtnShow[1][2]" ng-click="showCommMemLine(1)">Tilføj udvalgsmedlem</a>
                    <a class="btn btn-info" ng-show="commMemBtnShow[1][3]" ng-click="showCommMemLine(1)">Tilføj udvalgsmedlem</a>
                    <a class="btn btn-info" ng-show="commMemBtnShow[1][4]" ng-click="showCommMemLine(1)">Tilføj udvalgsmedlem</a>
                </div>
            <hr>
            </div>
            <!-- Aktivitetsudvalg 3 -->
            <div ng-show="committeeShow[2]">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Udvalgets navn</label>
                        <input type="text" class="form-control" ng-model="committeeName[2]" name="committeeName[2]" placeholder="Udvalgets navn">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8">
                        <label>Beskrivelse</label>
                        <!-- <input type="text" class="form-control" ng-model="committeeDesc[2]" name="committeeDesc[2]" placeholder="Beskrivelse, noter, beslutninger, m.m."> -->
                        <textarea class="form-control" ng-model="committeeDesc[2]" name="committeeDesc[2]" rows="3" placeholder="Beskrivelse, noter, beslutninger, m.m."></textarea>
                    </div>
                </div>
                <div>
                    <div class="form-group col-md-4" ng-show="commMemShow[2][0]">
                        <label>Udvalgsmedlem 1</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[2][0]" name="committeeMembers[2][0]" placeholder="Navn på udvalgsmedlem">
                    </div>
                    <div class="form-group col-md-4" ng-show="commMemShow[2][1]">
                        <label>Udvalgsmedlem 2</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[2][1]" name="committeeMembers[2][1]" placeholder="Navn på udvalgsmedlem">
                    </div>
                    <div class="form-group col-md-4" ng-show="commMemShow[2][2]">
                        <label>Udvalgsmedlem 3</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[2][2]" name="committeeMembers[2][2]" placeholder="Navn på udvalgsmedlem">
                    </div>
                    <div class="form-group col-md-4" ng-show="commMemShow[2][3]">
                        <label>Udvalgsmedlem 4</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[2][3]" name="committeeMembers[2][3]" placeholder="Navn på udvalgsmedlem">
                    </div>
                    <div class="form-group col-md-4" ng-show="commMemShow[2][4]">
                        <label>Udvalgsmedlem 5</label>
                        <input type="text" class="form-control" ng-model="committeeMembers[2][4]" name="committeeMembers[2][4]" placeholder="Navn på udvalgsmedlem">
                    </div>
                </div>
                <div class="row">
                    <a class="btn btn-info form-group" ng-show="commMemBtnShow[2][1]" ng-click="showCommMemLine(2)">Tilføj udvalgsmedlem</a>
                    <a class="btn btn-info form-group" ng-show="commMemBtnShow[2][2]" ng-click="showCommMemLine(2)">Tilføj udvalgsmedlem</a>
                    <a class="btn btn-info" ng-show="commMemBtnShow[2][3]" ng-click="showCommMemLine(2)">Tilføj udvalgsmedlem</a>
                    <a class="btn btn-info" ng-show="commMemBtnShow[2][4]" ng-click="showCommMemLine(2)">Tilføj udvalgsmedlem</a>
                </div>
            <hr>
            </div>
        </div>
        <br>
        <div class="row">
            <a class="btn btn-info" ng-show="committeeBtnShow[0]" ng-click="showCommLine()">Tilføj aktivitetsudvalg</a>
            <a class="btn btn-info" ng-show="committeeBtnShow[1]" ng-click="showCommLine()">Tilføj aktivitetsudvalg</a>
            <a class="btn btn-info" ng-show="committeeBtnShow[2]" ng-click="showCommLine()">Tilføj aktivitetsudvalg</a>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formFuturecamp.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Opret lejr</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="newCampEntryToggle()">Fortryd</a>
            </div>
        </div>
    </form>
</div>
<div class="row actions" ng-show="!newCampEntry">
    <div class="col-md-4">
        <a class="btn btn-info btn-lg btn-block" ng-click="newCampEntryToggle()">Indtast ny famlielejr</a>
    </div>
</div>

<script type="text/javascript">
    $('#organizer').addClass('active');
    $('#futurecamps').addClass('active');
</script>
