<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand home" href="#!home">Familielejr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li id="about" ng-show="isLoggedIn"><a href="#!about">Om familielejren</a></li>
            <li id="history" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Historie<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="campmap"><a href="#!campmap">Kort</a></li>
                    <li id="camplist"><a href="#!camplist">Liste over lejre</a></li>
                </ul>
            </li>
            <li id="familytree" ng-show="isLoggedIn"><a href="#!familytree">Stamtræ</a></li>
            <li id="photoalbum" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fotoalbum<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!photoupload">Upload af billeder</a></li>
                    <li><a href="#!photoalbum/1993">1993</a></li>
                    <li><a href="#!photoalbum/1994">1994</a></li>
                    <li><a href="#!photoalbum/1995">1995</a></li>
                    <li><a href="#!photoalbum/1996">1996</a></li>
                    <li><a href="#!photoalbum/1997">1997</a></li>
                    <li><a href="#!photoalbum/1998">1998</a></li>
                    <li><a href="#!photoalbum/1999">1999</a></li>
                    <li><a href="#!photoalbum/2000">2000</a></li>
                    <li><a href="#!photoalbum/2001">2001</a></li>
                    <li><a href="#!photoalbum/2002">2002</a></li>
                    <li><a href="#!photoalbum/2003">2003</a></li>
                    <li><a href="#!photoalbum/2004">2004</a></li>
                    <li><a href="#!photoalbum/2005">2005</a></li>
                    <li><a href="#!photoalbum/2006">2006</a></li>
                    <li><a href="#!photoalbum/2007">2007</a></li>
                    <li><a href="#!photoalbum/2008">2008</a></li>
                    <li><a href="#!photoalbum/2009">2009</a></li>
                    <li><a href="#!photoalbum/2010">2010</a></li>
                    <li><a href="#!photoalbum/2011">2011</a></li>
                    <li><a href="#!photoalbum/2012">2012</a></li>
                    <li><a href="#!photoalbum/2013">2013</a></li>
                    <li><a href="#!photoalbum/2014">2014</a></li>
                    <li><a href="#!photoalbum/2015">2015</a></li>
                    <li><a href="#!photoalbum/2016">2016</a></li>
                    <li><a href="#!photoalbum/2017">2017</a></li>
                    <li><a href="#!myphotoalbum">Mine billeder</a></li>
                </ul>
            </li>
            <li id="nextcamp" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Næste Familielejr<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="nextcampinfo"><a href="#!eventinfo">Information</a></li>
                    <li id="eventreg"><a href="#!eventregistration">Tilmelding</a></li>
                    <li id="eventregall"><a href="#!eventregistrationall">Liste over alle tilmeldte</a></li>
                </ul>
            </li>
            <li id="register" ng-show="!isLoggedIn"><a href="#!register">Registrer</a></li>
            <li id="login" ng-show="!isLoggedIn"><a href="#!login">Login</a></li>
            <li id="myaccount" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Min konto <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="logout"><a href="#!logout">Log ud</a></li>
                    <li id="myprofile"><a href="#!profile">Min profil</a></li>
                    <li id="changepassword"><a href="#!changepassword">Ændre kodeord</a></li>
                </ul>
            </li>
            <li id="organizer" ng-show="isLoggedIn && role < 2" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arrangør<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="invitationadmin"><a href="#!invitationadmin">Administrer invitation</a></li>
                    <li id="futurecamps"><a href="#!futurecamps">Fremtidige lejre</a></li>
                    <li id="eventregall"><a href="#!eventregistrationall">Administrer tilmeldinger</a></li>
                    <li id="todolist"><a href="#!todolist">Huskelister</a></li>
                    <li id="finances"><a href="#!finances">Økonomi</a></li>
                    <li id="usersadmin"><a href="#!usersadmin">Brugere</a></li>
                </ul>
            </li>
            <li id="admin" ng-show="isLoggedIn && role < 1" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrator<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="usersadmin"><a href="#!usersadmin">Administrer brugere</a></li>
                    <li id="photoadmin"><a href="#!photoalbum/2017">Administrer billeder</a></li>
                </ul>
            </li>
            <li><a href="#!content">Kontakt</a></li>
        </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div ng-show="!newEntry && !editEntry">
    <h2>Liste over lege</h2>
    <p>Formålet med denne side er at beskrive alle lege, spil og anden underholdning, vi har været 
        udsat for gennem årene eller som kunne bruges fremover. Listen kan bruges som inspiration 
        for underholdnings-udvalgene.</p>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%">Navn</th>
                <th width="15%">Oprettet / Ændret af</th>
                <th width="15%">Ændre / Se detaljer / Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in games">
                <td>{{ game.name }}</td>
                <td>{{ game.createdBy }}</td>
                <td>
                    <a class="btn btn-primary" ng-click="editGame(game)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="gameDetails(game)">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="deleteGame(game._id, game.name)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="games == false">
    <tr>
        <td></td><td>Der er ikke nogen lege endnu. Vil du oprette en?</td>
    </tr>
</div>
<hr>
<div ng-show="newEntry">
    <form name="formGame" ng-submit="generateGame()" novalidate>
        <h2 class="form-signin-heading">Opret en leg</h2>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="name">Navn</label>
                <input type="text" id="name" class="form-control" ng-model="name" placeholder="Navn" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label>Beskrivelse</label>
                <textarea class="form-control" ng-model="description" name="description" rows="15" placeholder="Beskrivelse af legen. Du kan også indsætte en link til et sted på nettet, hvor der er mere information om denne leg."></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formGame.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Opret legen</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="newEntryToggle()">Fortryd</a>
            </div>
        </div>
    </form>
</div>

<div class="row actions" ng-show="!newEntry && !editEntry">
    <div class="col-md-4">
        <a class="btn btn-info btn-lg btn-block" ng-click="newEntryToggle()">Indtast ny leg</a>
    </div>
</div>

<div ng-show="editEntry">
    <form name="formEditGame" ng-submit="editGameSubmit()" novalidate>
        <h2 class="form-signin-heading">Ændre en leg</h2>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="name">Navn</label>
                <input type="text" class="form-control" ng-model="editedgame.name" name="editedgame.name" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label>Beskrivelse</label>
                <textarea class="form-control" ng-model="editedgame.description" name="editedgame.description" rows="15" placeholder="Beskrivelse af legen. Du kan også indsætte en link til et sted på nettet, hvor der er mere information om denne leg."></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formEditGame.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="editToggle()">Fortryd</a>
            </div>
        </div>
    </form>
</div>

<div ng-show="viewGameDetails">
    <hr>
    <div class="blog-header">
        <h2 class="blog-title">Navn: {{detailedGame.name}}</h2>
    </div>
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <p class="blog-post-meta">Oprettet / ændret af: <a href="#">{{detailedGame.createdBy}}</a></p>
                <h4>Beskrivelse:</h4>
                <p>{{detailedGame.description}}</p>
            </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-warning btn-lg btn-block" ng-click="gameDetails(detailedGame)">Luk</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#entertainment').addClass('active');
    $('#games').addClass('active');
</script>
