<div ng-include="'navigation.html'"></div>

<div class="blog-header">
    <h1 class="blog-title">Flensburg Familielejren</h1>
    <p class="lead blog-description">For efterkommere af Anna og Niels Flensburg.</p>
</div>
<hr>
<div class="row">

    <div class="col-sm-8 blog-main">

        <div class="blog-post">
            <h2 class="blog-post-title">Næste Familielejr</h2>
            <div ng-show="invitationExists">
                <p>Vi skal være i 
                {{invitation.camp}}, {{invitation.address.street}}, {{invitation.address.zip}} {{invitation.address.town}} 
                fra {{startday}} den {{startdate}}. {{startmonth}} kl. {{invitation.starttime | date:'HH:mm' : 'CET' }} til {{endday}} den {{enddate}}. {{endmonth}} kl. {{invitation.endtime | date:'HH:mm' : 'CET' }}.
                </p>
                <div class="col-md-4">
                    <a class="btn btn-success" href="#!eventinfo">Mere information</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-success" href="#!eventregistration">Tilmelding her på siden</a>
                </div>
            </div>
            <div ng-show="!invitationExists">
                <p>Invitation til næste lejr er ikke udsendt endnu</p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="blog-post">
        <h2 class="blog-post-title">Kommende Familielejre</h2>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="8%">År</th>
                            <th width="25%">Lejr</th>
                            <th width="15%">Startdato</th>
                            <th width="15%">Slutdato</th>
                            <th width="29%">Arrangører</th>
                            <th width="8%">Detaljer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="camp in camps">
                            <td>{{ camp.year }}</td>
                            <td>{{ camp.camp }}, {{camp.address.street}}, {{camp.address.zip}} {{camp.address.town}}</td>
                            <td>{{ camp.startdate | date:'dd-MM-yyyy' : 'CET' }}</td>
                            <td>{{ camp.enddate | date:'dd-MM-yyyy' : 'CET' }}</td>
                            <td><i ng-repeat="organizer in camp.organizers">{{organizer.orgname}}, </i></td>
                            <td>
                                <a class="btn btn-primary" href="#!futurecamps/details/{{camp._id}}">
                                    <i class="glyphicon glyphicon-zoom-in"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="camps == false">
                <tr>
                    <td></td><td>Der er ikke nogen fremtidige lejre</td>
                </tr>
            </div>
            <br>
            <p>Tryk på "detaljer" knappen ud for en kommende familielejr for at se, om der er nedsat et underholdnings-udvalg eller andre udvalg og hvem, der i så fald er i udvalget.</p>
        </div>

    </div><!-- /.blog-main -->

    <div ng-include="'sidebar.html'"></div>

</div><!-- /.row -->
