<div ng-include="'navigation.html'"></div>

<div class="blog-header row">
    <div class="col-sm-8">
        <!-- <h1 class="blog-title">Flensburg Familielejren</h1> -->
        <h1 class="blog-title">{{ tenantName }}</h1>
        <!-- <p class="lead blog-description">For efterkommere af Anna og Niels Flensburg.</p> -->
        <p class="lead blog-description">{{ tenantDescription }}</p>
    </div>
    <div class="col-sm-2">
        
    </div>
    <div class="col-sm-2">
        <img height="100px" src="images/fl3-favicon.png">
    </div>
</div>
<hr>
<div class="blog-post row">

    <div class="col-sm-8 blog-main">
        <h2 class="blog-post-title">Invitationer</h2>
        <div class="blog-post" ng-show="invitationExists2">
            <div ng-repeat="activeInvitation in activeInvitations" class="blog-post row">
                <h3 class="blog-post-title">{{ activeInvitation.eventName }}</h3>
                <p>Vi skal være i 
                {{activeInvitation.venue}}, {{activeInvitation.address.street}}, {{activeInvitation.address.zip}} {{activeInvitation.address.town}} 
                fra {{activeInvitation.startdate | date:'dd-MM-yyyy' : 'CET' }} kl. {{activeInvitation.invitation.starttime | date:'HH:mm' : 'CET' }} til {{activeInvitation.enddate | date:'dd-MM-yyyy' : 'CET' }} kl. {{activeInvitation.invitation.endtime | date:'HH:mm' : 'CET' }}.
                </p>
                <div class="col-md-4">
                    <a class="btn btn-success" href="#!invitation2display/{{activeInvitation._id}}">Invitation og mere information</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-success" href="#!eventregistration">Tilmelding her på siden</a>
                </div>
            </div>
        </div>
        <div ng-show="!invitationExists2">
            <p>Der er ikke nogen invitationer for nuværende.</p>
        </div>
        <br>
        <hr>
        <div class="blog-post">
        <h2 class="blog-post-title">Kommende Begivenheder</h2>
        <p class="blog-post-meta">Kør musen over en begivenhed for at se udvalg.</p>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="8%">År</th>
                            <th width="32%">Sted</th>
                            <th width="14%">Startdato</th>
                            <th width="14%">Slutdato</th>
                            <th width="32%">Arrangører</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="futureevent in futureevents" ng-mouseover="eventHoverIn(futureevent)" ng-mouseleave="eventHoverOut(futureevent)">
                            <td>{{ futureevent.year }}</td>
                            <td>{{ futureevent.venue }}, {{futureevent.address.street}}, {{futureevent.address.zip}} {{futureevent.address.town}}</td>
                            <td>{{ futureevent.startdate | date:'dd-MM-yyyy' : 'CET' }}</td>
                            <td>{{ futureevent.enddate | date:'dd-MM-yyyy' : 'CET' }}</td>
                            <td>
                                <i ng-repeat="organizer in futureevent.organizers">{{organizer.orgname}}, </i>
                                <i ng-show="futureevent.showCommittees" ng-repeat="committee in futureevent.committees">
                                    <p>{{committee.name}}: <i ng-repeat="member in committee.members">{{member.membername}}, </i></p>
                                </i>
                            </td>
                        </tr>
                        <tr ng-show="futureevents.length < 1">
                            <td></td><td>Der er ikke nogen fremtidige begivenheder</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="blog-post">
            <h2 class="blog-post-title">Næste Familielejr</h2>
            <div ng-show="invitationExists">
                <p>Vi skal være i 
                {{invitation.camp}}, {{invitation.address.street}}, {{invitation.address.zip}} {{invitation.address.town}} 
                fra {{startday}} den {{startdate}}. {{startmonth}} kl. {{invitation.starttime | date:'HH:mm' : 'CET' }} til {{endday}} den {{enddate}}. {{endmonth}} kl. {{invitation.endtime | date:'HH:mm' : 'CET' }}.
                </p>
                <div class="col-md-4">
                    <a class="btn btn-success" href="#!eventinfo">Invitation og mere information</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-success" href="#!eventregistration">Tilmelding her på siden</a>
                </div>
            </div>
            <div ng-show="!invitationExists">
                <p>Invitation til næste lejr er ikke udsendt endnu. Tålmodighed - den kommer!</p>
            </div>
        </div>
        <br>
        <hr>
        <div class="blog-post">
        <h2 class="blog-post-title">Kommende Familielejre</h2>
        <p class="blog-post-meta">Kør musen over en lejr for at se underholdningsudvalget.</p>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="8%">År</th>
                            <th width="32%">Lejr</th>
                            <th width="14%">Startdato</th>
                            <th width="14%">Slutdato</th>
                            <th width="32%">Arrangører</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="camp in camps" ng-mouseover="hoverIn(camp.year)" ng-mouseleave="hoverOut(camp.year)">
                            <td>{{ camp.year }}</td>
                            <td>{{ camp.camp }}, {{camp.address.street}}, {{camp.address.zip}} {{camp.address.town}}</td>
                            <td>{{ camp.startdate | date:'dd-MM-yyyy' : 'CET' }}</td>
                            <td>{{ camp.enddate | date:'dd-MM-yyyy' : 'CET' }}</td>
                            <td>
                                <i ng-repeat="organizer in camp.organizers">{{organizer.orgname}}, </i>
                                <i ng-show="showCommittees[camp.year]" ng-repeat="committee in camp.committees">
                                    <p>{{committee.name}}: <i ng-repeat="member in committee.members">{{member.membername}}, </i></p>
                                </i>
                            </td>
                        </tr>
                        <tr ng-show="camps.length < 1">
                            <td></td><td>Der er ikke nogen fremtidige lejre</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->

    </div><!-- /.blog-main -->

    <div ng-include="'sidebar.html'"></div>

</div><!-- /.row -->
