<div ng-include="'navigation.html'"></div>

<br>
<br>
<div ng-controller="logoutCtrl">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <button class="btn btn-lg btn-danger btn-block" ng-click="logoutUser()">Bekræft at du vil logge ud</button>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <a href="#!profile" class="btn btn-warning btn-lg btn-block">Fortryd</a>
        </div>
    </div>
</div>
