<div ng-include="'navigation.html'"></div>

<h2 class="heading">Hvor har vi været?</h2>
<p>Klik på stedets navn for at komme til hjemmesiden, hvis den findes.</p>
<p>Klik på adressen for at åbne Google maps og se placering på kortet.</p>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th width="11%">Begivenhed</th>
            <th width="28%">Sted</th>
            <th width="11%">Startdato</th>
            <th width="11%">Slutdato</th>
            <th width="24%">Arrangører</th>
            <th width="15%"><span ng-show="role==0">Ændre / </span>Detaljer / Referat</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in events">
            <td>{{ event.eventName }}</td>
            <td><a href="{{event.website}}" target="_blank">{{ event.venue }}</a>, <a href="https://www.google.com/maps/search/{{event.address.street}},+{{event.address.zip}}+{{event.address.town}}" target="_blank">{{event.address.street}}, {{event.address.zip}} {{event.address.town}}</a></td>
            <td>{{ event.startdate | date:'dd-MM-yyyy' : 'CET' }}</td>
            <td>{{ event.enddate | date:'dd-MM-yyyy' : 'CET' }}</td>
            <td><span ng-repeat="organizer in event.organizers">{{organizer.orgname}}, </span></td>
            <td>
                <a ng-show="role == 0" class="btn btn-primary" href="#!eventsadmin/edit/{{event._id}}">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" href="#!eventsadmin/details/{{event._id}}">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
                <a ng-show="event.summaryExist" class="btn btn-primary" href="#!summaries">
                    <i class="glyphicon glyphicon-briefcase"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<!-- <h2 class="heading">Hvor har vi været? Liste over lejrskoler / hytter</h2>
<p>Klik på lejrskolens navn for at komme til lejrskolens hjemmeside. <i>Det er ikke sikkert lejrens hjemmeside eksisterer. F.eks. er der ikke nogen for Hejls Lejrskole, da den ikke eksisterer mere.</i></p>
<p>Klik på adressen for at åbne Google maps og se, hvor på kortet lejren ligger.</p>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th width="8%">År</th>
            <th width="28%">Lejr</th>
            <th width="12%">Startdato</th>
            <th width="12%">Slutdato</th>
            <th width="24%">Arrangører</th>
            <th ng-show="role == 0" width="16%">Ændre / Se detaljer</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="camp in camps">
            <td>{{ camp.year }}</td>
            <td><a href="{{camp.website}}" target="_blank">{{ camp.camp }}</a>, <a href="https://www.google.com/maps/search/{{camp.address.street}},+{{camp.address.zip}}+{{camp.address.town}}" target="_blank">{{camp.address.street}}, {{camp.address.zip}} {{camp.address.town}}</a></td>
            <td>{{ camp.startdate | date:'dd-MM-yyyy' : 'CET' }}</td>
            <td>{{ camp.enddate | date:'dd-MM-yyyy' : 'CET' }}</td>
            <td><span ng-repeat="organizer in camp.organizers">{{organizer.orgname}}, </span></td>
            <td ng-show="role == 0">
                <a class="btn btn-primary" href="#!futurecamps/edit/{{camp._id}}">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" href="#!futurecamps/details/{{camp._id}}">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table> -->
