<div ng-include="'navigation.html'"></div>

<div class="page-header">
    <!-- <h1>Billeder, {{ year }}. Antal: {{ images.length }}  <a ng-show="imagesExist" class="btn btn-success" href="#!slideshow/{{year}}" target="_blank">Slideshow {{year}}</a></h1> -->

    <div class="col-md-6">
        <h1>Billeder, {{ year }}. Antal: {{ images.length }}</h1>
    </div>

</div>
<div ng-show="imagesExist">
    <div ng-show="userClient == 'BROWSER'">
        <div id="photo-div" ng-show="mainImageObj.orientation == 0 && mainImageObj.filetype != 'video/mp4'">
            <a href="{{mainImage}}" target="_blank">
                <img id="photo-img" src="{{mainImage}}">
            </a>
        </div>
        <div id="photo-div-ver" ng-show="mainImageObj.orientation == 1 && mainImageObj.filetype != 'video/mp4'">
            <a href="{{mainImage}}" target="_blank">
                <img id="photo-img-ver" src="{{mainImage}}">
            </a>
        </div>
        <div id="photo-div" ng-show="mainImageObj.filetype == 'video/mp4'">
            <video width="1200" controls>
                <source type="{{mainImageObj.filetype}}" src="{{mainImage}}">
            </video>
            <p>HEJ</p>
        </div>
    </div>
    <div ng-show="userClient != 'BROWSER'">
        <div ng-show="mainImageObj.orientation == 0">
            <a href="{{mainImage}}" target="_blank">
                <img class="img-responsive" src="{{mainImage}}">
            </a>
        </div>
        <div class="div-vertical-mobile" ng-show="mainImageObj.orientation == 1">
            <a href="{{mainImage}}" target="_blank">
                <img class="img-vertical-mobile" src="{{mainImage}}">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>{{mainImageObj.imagetext[0].textobj.text}}</h4>
        </div>
        <div class="col-md-1">
            <h4 class="glyphicon glyphicon-chevron-left" ng-click="prevImage()" ng-keypress="$event.keyCode === 39 && prevImage()"></h4>
        </div>
        <div class="col-md-offset-2 col-md-1">
            <h4 class="glyphicon glyphicon-chevron-right" ng-click="nextImage()" ng-keypress="$event.keyCode === 37 && nextImage()"></h4>
        </div>
        <div class="col-md-offset-2 col-md-1" ng-show="role == 0">
            <a class="btn btn-danger btn-sm" ng-click="rotateImage(mainImageObj, -1)">L</a>
        </div>
        <div class="col-md-1" ng-show="role == 0">
            <a class="btn btn-danger btn-sm" ng-click="rotateImage(mainImageObj, 1)">R</a>
        </div>
    </div>
    
    <div class="row">
        <h3>Uploaded af {{mainImageObj.uploader}}</h3>
        <div ng-repeat="x in mainImageObj.imagetext">
            <p>{{x.textobj.contributor}}, {{x.textobj.date | date:'dd-MM-yyyy HH:mm' : 'CET' }}: {{x.textobj.text}}</p>
        </div>
    </div>
    <div>
        <form name="formAddComment" ng-submit="addComment(mainImageObj)" novalidate>
            <div class="row">
                <div class="form-group col-md-8">
                    <label>Her kan du tilføje kommentarer eller informationer til billedet</label>
                    <input type="text" class="form-control" ng-model="mycomment" name="mycomment" placeholder="Din tilføjelse til billedet" required>
                </div>
                <div class="form-group col-md-2">
                    <br>
                    <button ng-disabled="formAddComment.$invalid" class="btn btn-primary" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="col-md-2" ng-show="role == 0">
        <div class="actions">
            <a href="#" class="btn btn-danger" ng-click="removeImage(mainImageObj)">Slet billedet</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div ng-repeat="image in images">
            <div class="col-md-1" ng-show="image.signedRequest && image.orientation == 0">
                <img class="img-thumbnail" ng-src="{{image.signedRequest}}" ng-click="setImage(image)">
            </div>
            <div class="col-md-1" style="transform: rotate(90deg);" ng-show="image.signedRequest && image.orientation == 1">
                <img class="img-thumbnail" ng-src="{{image.signedRequest}}" ng-click="setImage(image)">
            </div>
        </div>
    </div>
    <br>
    <div class="row" ng-show="role == 0">
        <i>Agent: {{userClient}}. Window innersize (w,h): {{innerWidth}}, {{innerHeight}}. Picture format (w,h): {{imgWidth}}, {{imgHeight}} </i>
    </div>
</div>
<div ng-show="!imagesExist">
    <h3>Der er ikke nogen billeder fra {{ year }} endnu.<a href="#!photoupload"> Har du nogen at lægge op?</a></h3>
</div>

<!-- 
    <div ng-show="userClient == 'BROWSER'">
        <div id="photo-horizontal" ng-show="mainImageObj.orientation == 0">
            <a href="{{mainImage}}" target="_blank">
                <img id="img-horizontal1" src="{{mainImage}}">
            </a>
        </div>
        <div id="photo-vertical" ng-show="mainImageObj.orientation == 1">
            <a href="{{mainImage}}" target="_blank">
                <img id="img-vertical1" src="{{mainImage}}">
            </a>
        </div>
        <div class="previmage">
            <h2 class="glyphicon glyphicon-chevron-left" ng-click="prevImage()"></h2>
        </div>
        <div class="nextimage">
            <h2 class="glyphicon glyphicon-chevron-right" ng-click="nextImage()"></h2>
        </div>
    </div>

 --><!-- 
    <div ng-show="userClient != 'BROWSER'">
        <div id="photo-horizontal" ng-show="mainImageObj.orientation == 0">
            <a href="{{mainImage}}" target="_blank">
                <img id="img-horizontal1" src="{{mainImage}}">
            </a>
        </div>
        <div id="photo-vertical" ng-show="mainImageObj.orientation == 1">
            <a href="{{mainImage}}" target="_blank">
                <img id="img-vertical1" src="{{mainImage}}">
            </a>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-1">
                <span class="glyphicon glyphicon-chevron-left" ng-click="prevImage()"></span>
            </div>
            <div class="col-md-offset-3 col-md-1">
                <span class="glyphicon glyphicon-chevron-right" ng-click="nextImage()"></span>
            </div>
        </div>
 -->        
