<div ng-include="'navigation.html'"></div>

<div class="page-header">
    <h1>{{headline}}, antal: {{total}}</h1>
</div>
<div class="row">
    <div ng-repeat="year in years">
        <div class="col-md-3">
            <a id="images" ng-show="!mypictures" href="#!photoalbum/{{year.year}}" class="btn btn-primary btn-lg btn-block">{{year.year}}. Antal: {{year.count}}</a>
            <a id="images" ng-show="mypictures" href="#!myphotoalbum/{{year.year}}" class="btn btn-info btn-lg btn-block">{{year.year}}. Antal: {{year.count}}</a>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <p>Klik på et år for at se fotoalbum for det år eller klik "Historiske" for at se historiske billeder.</p>
</div>
<br>
<div class="col-md-3">
    <a href="#!photoupload" class="btn btn-success btn-lg btn-block">Læg billeder op</a>
</div>
<div ng-show="mypictures" class="col-md-3">
    <a href="#!myphotoalbum/0" class="btn btn-primary btn-lg btn-block">Mine billeder for alle år</a>
</div>

<script type="text/javascript">
    document.getElementById("images").style.marginBottom = "5px";
</script>