<div ng-include="'navigation.html'"></div>

<div ng-controller="profileCtrl">
    <div ng-show="!editProfile">
        <h1>Din brugerprofil</h1>
        <hr>
        <h2>{{user.name.firstname}} {{user.name.middlename}} {{user.name.surname}}</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>Adresse:</h3>
                <p>{{user.address.street}} {{user.address.houseno}}
                    <span ng-if="user.address.floor">, {{user.address.floor}} {{user.address.direction}}</span></p>
                <p>{{user.address.zip}} {{user.address.town}}<span ng-if="user.address.country">, {{user.address.country}}</span></p>
            </div>
            <div class="col-md-4">
                <h3>Kontakt</h3>
                <p ng-if="user.phone">Telefonnummer: {{user.phone}}</p>
                <p>Email: {{user.email}}</p>
            </div>
            <div class="col-md-4">
                <h3>Rolle</h3>
                <p ng-if="user.role == 2">Bruger</p>
                <p ng-if="user.role == 1">Arrangør</p>
                <p ng-if="user.role == 0">Administrator</p>
                <p>{{ tenant.tenantName }}</p>
            </div>
        </div>
    </div>

    <div ng-show="editProfile">
    <form name="form-profileedit" class="form-profileedit" ng-submit="profileEdit()">
        <h2 class="form-signin-heading">Ændringer til din profil</h2>
        <h3 class="form-signin-heading">Brugernavn (email)</h3>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="inputEmail">Email adresse</label>
                <input type="email" id="inputEmail" class="form-control" ng-model="user.email" placeholder="Email adresse" required disabled>
            </div>
        </div>
        <h3 class="form-signin-heading">Navn</h3>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Fornavn</label>
                <input type="text" class="form-control" ng-model="user.name.firstname" name="firstname" placeholder="Fornavn" required autofocus>
            </div>
            <div class="form-group col-md-2">
                <label>Mellemnavn</label>
                <input type="text" class="form-control" ng-model="user.name.middlename" name="middlename" placeholder="Mellemnavn">
            </div>
            <div class="form-group col-md-3">
                <label>Efternavn</label>
                <input type="text" class="form-control" ng-model="user.name.surname" name="surname" placeholder="Efternavn" required>
            </div>
        </div>
        <h3 class="form-signin-heading">Adresse</h3>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Gade</label>
                <input type="text" class="form-control" ng-model="user.address.street" name="street" placeholder="Gade">
            </div>
            <div class="form-group col-md-1">
                <label>Husnummer</label>
                <input type="text" class="form-control" ng-model="user.address.houseno" name="houseno" placeholder="nr">
            </div>
            <div class="form-group col-md-1">
                <label>Etage</label>
                <select class="form-control" ng-model="user.address.floor" name="floor">
                    <option ng-repeat="floor in floors" value="{{floor.floor}}">{{floor.floor}}</option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label>Retning</label>
                <select class="form-control" ng-model="user.address.direction" name="direction">
                    <option ng-repeat="direction in directions" value="{{direction.dir}}">{{direction.dir}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Postnummer</label>
                <input type="text" class="form-control" ng-model="user.address.zip" name="zip" placeholder="Postnummer">
            </div>
            <div class="form-group col-md-3">
                <label>By</label>
                <input type="text" class="form-control" ng-model="user.address.town" name="town" placeholder="By">
            </div>
            <div class="form-group col-md-2">
                <label>Land</label>
                <select class="form-control" ng-model="user.address.country" name="country">
                    <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label>Telefon</label>
                <input type="text" class="form-control" ng-model="user.phone" name="phone" placeholder="Telefonnummer">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Send profilen</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="editProfileToggle()">Fortryd</a>
            </div>
        </div>
    </form>
    </div>
    <hr>
	<div class="row actions" ng-show="!editProfile">
        <div class="col-md-4">
            <a class="btn btn-info btn-lg btn-block" ng-click="editProfileToggle()">Ret i profilen</a>
        </div>
        <div class="col-md-4">
            <a href="#!changepassword" class="btn btn-warning btn-lg btn-block">Ændre kodeord</a>
        </div>
	</div>
</div>
