<div ng-include="'navigation.html'"></div>

<div ng-controller = "registerCtrl">
    <div class="row alert alert-danger" ng-show="!registrationAllowed">
        <h2>NOGET ER GALT. DER ER FOR MANGE BRUGERE. VI TRÆKKER NØDBREMSEN. DU KAN IKKE REGISTRERE DIG.</h2>
        <br>
    </div>
    <form name="formRegister" class="formRegister" id="formRegister" ng-submit="registerUser()" novalidate>
        <h2 class="form-signin-heading">Registrering</h2>
        <!-- <h3 class="form-signin-heading">Familie / Forening</h3> -->
        <div class="row">
            <div class="form-group col-md-2">
                <label>Familie / Forening</label>
                <select class="form-control" ng-model="_tenant" name="_tenant">
                    <option ng-repeat="tenant in tenants" value="{{tenant._id}}">{{tenant.tenantName}}</option>
                </select>
                <i ng-show="formRegister.tenantName.$error.required">Skal vælges. </i>
            </div>
        </div>
        <h3 class="form-signin-heading">Brugernavn (email) og kodeord</h3>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="inputEmail">Email adresse</label>
                <input type="email" id="inputEmail" class="form-control" ng-model="inputEmail" placeholder="Email adresse" required autofocus>
                <i ng-show="formRegister.inputEmail.$error.email">Indtast korrekt email format. </i>
                <i ng-show="formRegister.inputEmail.$error.required">Skal indtastes. </i>
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword">Kodeord</label>
                <input type="password" id="inputPassword" name="inputPassword" ng-model="inputPassword" ng-minlength="8" ng-maxlength="12" class="form-control" placeholder="Kodeord" required>
                <i ng-show="formRegister.inputPassword.$error.minlength">Mindst 8 karakterer. </i>
                <i ng-show="formRegister.inputPassword.$error.maxlength">Højst 12 karakterer. </i>
                <i ng-show="formRegister.inputPassword.$error.required">Skal indtastes. </i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Hemmelighed (du har modtaget den i et email)</label>
                <input type="text" class="form-control" ng-model="secret" name="secret" placeholder="Hemmelighed" required>
                <i ng-show="formRegister.secret.$error.required">Skal indtastes. </i>
            </div>
            <div class="form-group col-md-3">
                <label for="repeatPassword">Gentag kodeord</label>
                <input type="password" id="repeatPassword" name="repeatPassword" ng-model="repeatPassword" ng-minlength="8" ng-maxlength="12" class="form-control" placeholder="Gentag kodeord" required>
                <i ng-show="formRegister.repeatPassword.$error.minlength">Mindste længde: 8 karakterer. </i>
                <i ng-show="formRegister.repeatPassword.$error.maxlength">Højst 12 karakterer. </i>
                <i ng-show="formRegister.repeatPassword.$error.required">Skal indtastes. </i>
                <i class="notidentical hidden"><br>De to kodeord er ikke identiske</i>
            </div>
        </div>
        <h3 class="form-signin-heading">Navn</h3>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Fornavn</label>
                <input type="text" class="form-control" ng-model="firstname" name="firstname" placeholder="Fornavn" required>
                <i ng-show="formRegister.firstname.$error.required">Skal indtastes. </i>
            </div>
            <div class="form-group col-md-2">
                <label>Mellemnavn</label>
                <input type="text" class="form-control" ng-model="middlename" name="middlename" placeholder="Mellemnavn">
            </div>
            <div class="form-group col-md-3">
                <label>Efternavn</label>
                <input type="text" class="form-control" ng-model="surname" name="surname" placeholder="Efternavn" required>
                <i ng-show="formRegister.surname.$error.required">Skal indtastes. </i>
            </div>
        </div>
        <h3 class="form-signin-heading">Adresse</h3>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Gade</label>
                <input type="text" class="form-control" ng-model="street" name="street" placeholder="Gade">
            </div>
            <div class="form-group col-md-1">
                <label>Husnummer</label>
                <input type="text" class="form-control" ng-model="houseno" name="houseno" placeholder="nr">
            </div>
            <div class="form-group col-md-1">
                <label>Etage</label>
                <select class="form-control" ng-model="floor" name="floor">
                    <option ng-repeat="floor in floors" value="{{floor.floor}}">{{floor.floor}}</option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label>tv/mf/th</label>
                <select class="form-control" ng-model="direction" name="direction">
                    <option ng-repeat="direction in directions" value="{{direction.dir}}">{{direction.dir}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Postnummer</label>
                <input type="text" class="form-control" ng-model="zip" name="zip" placeholder="Postnummer">
            </div>
            <div class="form-group col-md-3">
                <label>By</label>
                <input type="text" class="form-control" ng-model="town" name="town" placeholder="By">
            </div>
            <div class="form-group col-md-2">
                <label>Land</label>
                <select class="form-control" ng-model="country" name="country">
                    <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label>Telefon</label>
                <input type="text" class="form-control" ng-model="phone" name="phone" placeholder="Telefonnummer">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formRegister.$invalid || !registrationAllowed" class="btn btn-lg btn-primary btn-block" type="submit">Registrer</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#repeatPassword').change(function() {
        console.log('Repeat-password changed');
        if ($('#inputPassword').val() != $('#repeatPassword').val()) {
            console.log('They are different');
            $('.notidentical').removeClass('hidden');
        } else {
            console.log('They are identical');
            $('.notidentical').addClass('hidden');
        };
    });

</script>