<div ng-include="'navigation.html'"></div>

<div class="blog-header">
    <h1 class="blog-title">Flensburg Familielejren</h1>
    <p class="lead blog-description">For efterkommere efter Anna og Niels Flensburg.</p>
</div>

<div class="row">

    <div class="col-sm-8 blog-main">

        <div class="blog-post">
            <div class="row">
                <img class="img-responsive" src="images/various/forside.png">
            </div>
        <h4 class="blog-post-title">Sikkerhed: Check at du bruger https!</h4>
        <p>Check at der er "https://" foran linket "familielejr.flensburg.link". Klik her for at være sikker: <a href="https://familielejr.flensburg.link">https://familielejr.flensburg.link</a></p>
        <h4 class="blog-post-title">Anbefalede browsere: Chrome, Safari</h4>
        <p>Hvis du anvender MS Explorer eller Edge, kan der være problemer med at vise indholdet korrekt, afhængig af version.</p>
        <p>Siden er også i nogen grad testet på en Android telefon med Chrome, og det ser ud til at virke.</p>
        </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module">
            <h4>For dem der må:</h4>
            <ol class="list-unstyled">
                <li><a href="https://familielejr.flensburg.link/#!/register">Registrer</a></li>
                <li><a href="https://familielejr.flensburg.link/#!/login">Log ind</a></li>
            </ol>
        </div>
    </div><!-- /.blog-sidebar -->

</div><!-- /.row -->
