<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand home" href="#!home">Familielejr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li id="about" ng-show="isLoggedIn"><a href="#!about">Om familielejren</a></li>
            <li id="history" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Historie<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="campmap"><a href="#!campmap">Kort</a></li>
                    <li id="camplist"><a href="#!camplist">Liste over lejre</a></li>
                </ul>
            </li>
            <li id="familytree" ng-show="isLoggedIn"><a href="#!familytree">Stamtræ</a></li>
            <li id="photoalbum" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fotoalbum<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!photoupload">Upload af billeder</a></li>
                    <li><a href="#!photoalbum/1993">1993</a></li>
                    <li><a href="#!photoalbum/1994">1994</a></li>
                    <li><a href="#!photoalbum/1995">1995</a></li>
                    <li><a href="#!photoalbum/1996">1996</a></li>
                    <li><a href="#!photoalbum/1997">1997</a></li>
                    <li><a href="#!photoalbum/1998">1998</a></li>
                    <li><a href="#!photoalbum/1999">1999</a></li>
                    <li><a href="#!photoalbum/2000">2000</a></li>
                    <li><a href="#!photoalbum/2001">2001</a></li>
                    <li><a href="#!photoalbum/2002">2002</a></li>
                    <li><a href="#!photoalbum/2003">2003</a></li>
                    <li><a href="#!photoalbum/2004">2004</a></li>
                    <li><a href="#!photoalbum/2005">2005</a></li>
                    <li><a href="#!photoalbum/2006">2006</a></li>
                    <li><a href="#!photoalbum/2007">2007</a></li>
                    <li><a href="#!photoalbum/2008">2008</a></li>
                    <li><a href="#!photoalbum/2009">2009</a></li>
                    <li><a href="#!photoalbum/2010">2010</a></li>
                    <li><a href="#!photoalbum/2011">2011</a></li>
                    <li><a href="#!photoalbum/2012">2012</a></li>
                    <li><a href="#!photoalbum/2013">2013</a></li>
                    <li><a href="#!photoalbum/2014">2014</a></li>
                    <li><a href="#!photoalbum/2015">2015</a></li>
                    <li><a href="#!photoalbum/2016">2016</a></li>
                    <li><a href="#!photoalbum/2017">2017</a></li>
                    <li><a href="#!myphotoalbum">Mine billeder</a></li>
                </ul>
            </li>
            <li id="nextcamp" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Næste Familielejr<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="nextcampinfo"><a href="#!eventinfo">Information</a></li>
                    <li id="eventreg"><a href="#!eventregistration">Tilmelding</a></li>
                    <li id="eventregall"><a href="#!eventregistrationall">Liste over alle tilmeldte</a></li>
                </ul>
            </li>
            <li id="register" ng-show="!isLoggedIn"><a href="#!register">Registrer</a></li>
            <li id="login" ng-show="!isLoggedIn"><a href="#!login">Login</a></li>
            <li id="myaccount" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Min konto <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="logout"><a href="#!logout">Log ud</a></li>
                    <li id="myprofile"><a href="#!profile">Min profil</a></li>
                    <li id="changepassword"><a href="#!changepassword">Ændre kodeord</a></li>
                </ul>
            </li>
            <li id="organizer" ng-show="isLoggedIn && role < 2" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arrangør<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="invitationadmin"><a href="#!invitationadmin">Administrer invitation</a></li>
                    <li id="futurecamps"><a href="#!futurecamps">Fremtidige lejre</a></li>
                    <li id="eventregall"><a href="#!eventregistrationall">Administrer tilmeldinger</a></li>
                    <li id="todolist"><a href="#!todolist">Huskelister</a></li>
                    <li id="finances"><a href="#!finances">Økonomi</a></li>
                    <li id="usersadmin"><a href="#!usersadmin">Brugere</a></li>
                </ul>
            </li>
            <li id="admin" ng-show="isLoggedIn && role < 1" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrator<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="usersadmin"><a href="#!usersadmin">Administrer brugere</a></li>
                    <li id="photoadmin"><a href="#!photoadmin">Administrer billeder</a></li>
                    <li id="todolistadmin"><a href="#!todolistadmin">Administrer Huskelister</a></li>
                </ul>
            </li>
            <li><a href="#!content">Kontakt</a></li>
        </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<h2 class="heading">Huskeliste til inspiration</h2>
<p>Med denne huskeliste kan man overføre erfaring til nye arrangører ved at oprette nye punkter til listen. Og arrangørerne kan bruge listen til at holde styr på, hvad der er gjort.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th width="8%">Udført?</th>
            <th width="14%">Kategori</th>
            <th width="40%">Beskrivelse</th>
            <th width="15%">Udført af</th>
            <th width="13%">Dato</th>
            <th width="10%">Slet / Ændre</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="todo in todos">
            <td>
                <input type="checkbox" ng-model="todo.completed" id="completed" ng-change="completionStatus(todo)">
            </td>
            <td>{{ todo.category }}</td>
            <td>{{ todo.text }}</td>
            <td>{{ todo.completedBy }}</td>
            <td>{{ todo.completedAt | date:'dd-MM-yyyy HH:mm' : 'CET' }}</td>
            <td>
                <a class="btn btn-primary" ng-click="editTodoToggle(todo)">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" ng-click="removeTodo(todo)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<hr>
<div ng-show="newTodo">
    <h2>Indtast nyt punkt til huskelisten {{newTodo}} </h2>
    <form name="newTodoForm" ng-submit="addTodo()">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Kategori</label>
                <select class="form-control" ng-model="category" name="category" required>
                    <option ng-repeat="category in categories" value="{{category.category}}">{{category.category}}</option>
                </select>
                <i ng-show="newTodoForm.category.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label>Beskrivelse</label>
                <textarea class="form-control" ng-model="text" name="text" rows="3" placeholder="Beskrivelse" required></textarea>
                <i ng-show="newTodoForm.text.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button ng-disabled="newTodoForm.$invalid" type="submit" class="btn btn-primary">Send</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning" ng-click="newTodoToggle()">Afbryd</a>
            </div>
        </div>
    </form>
</div>
<div ng-show="editTodo">
    <h2>Ændre et punkt til huskelisten {{editTodo}} </h2>
    <form name="editTodoForm" ng-submit="todoEdit()">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Kategori</label>
                <select class="form-control" ng-model="editCategory" name="editCategory" required>
                    <option ng-repeat="category in categories" value="{{category.category}}">{{category.category}}</option>
                </select>
                <i ng-show="editTodoForm.editCategory.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label>Beskrivelse</label>
                <textarea class="form-control" ng-model="editText" name="editText" rows="3" placeholder="Beskrivelse" required></textarea>
                <i ng-show="editTodoForm.editText.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button ng-disabled="editTodoForm.$invalid" type="submit" class="btn btn-primary">Send</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning" ng-click="editTodoToggle()">Afbryd</a>
            </div>
        </div>
    </form>
</div>
<div class="row actions" ng-show="!newTodo && !editTodo">
    <div class="col-md-4">
        <a class="btn btn-info btn-lg btn-block" ng-click="newTodoToggle()">Indtast nyt punkt til huskelisten</a>
    </div>
</div>

<script type="text/javascript">
    $('#organizer').addClass('active');
    $('#todolist').addClass('active');
</script>
