<div ng-include="'navigation.html'"></div>

<h2 class="heading">Huskeliste til inspiration</h2>
<p>Med denne huskeliste kan man overføre erfaring til nye arrangører ved at oprette nye punkter til listen. Og arrangørerne kan bruge listen til at holde styr på, hvad der er gjort.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th width="8%">Udført?</th>
            <th width="14%">Kategori</th>
            <th width="40%">Beskrivelse</th>
            <th width="15%">Udført af</th>
            <th width="13%">Dato</th>
            <th width="10%">Slet / Ændre</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="todo in todos">
            <td>
                <input type="checkbox" ng-model="todo.completed" id="completed" ng-change="completionStatus(todo)">
            </td>
            <td>{{ todo.category }}</td>
            <td>{{ todo.text }}</td>
            <td>{{ todo.completedBy }}</td>
            <td>{{ todo.completedAt | date:'dd-MM-yyyy HH:mm' : 'CET' }}</td>
            <td>
                <a class="btn btn-primary" ng-click="editTodoToggle(todo)">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" ng-click="removeTodo(todo)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<hr>
<div ng-show="newTodo">
    <h2>Indtast nyt punkt til huskelisten {{newTodo}} </h2>
    <form name="newTodoForm" ng-submit="addTodo()">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Kategori</label>
                <select class="form-control" ng-model="category" name="category" required>
                    <option ng-repeat="category in categories" value="{{category.category}}">{{category.category}}</option>
                </select>
                <i ng-show="newTodoForm.category.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label>Beskrivelse</label>
                <textarea class="form-control" ng-model="text" name="text" rows="3" placeholder="Beskrivelse" required></textarea>
                <i ng-show="newTodoForm.text.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button ng-disabled="newTodoForm.$invalid" type="submit" class="btn btn-primary">Send</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning" ng-click="newTodoToggle()">Afbryd</a>
            </div>
        </div>
    </form>
</div>
<div ng-show="editTodo">
    <h2>Ændre et punkt til huskelisten {{editTodo}} </h2>
    <form name="editTodoForm" ng-submit="todoEdit()">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Kategori</label>
                <select class="form-control" ng-model="editCategory" name="editCategory" required>
                    <option ng-repeat="category in categories" value="{{category.category}}">{{category.category}}</option>
                </select>
                <i ng-show="editTodoForm.editCategory.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label>Beskrivelse</label>
                <textarea class="form-control" ng-model="editText" name="editText" rows="3" placeholder="Beskrivelse" required></textarea>
                <i ng-show="editTodoForm.editText.$error.required">*Skal udfyldes</i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button ng-disabled="editTodoForm.$invalid" type="submit" class="btn btn-primary">Send</button>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning" ng-click="editTodoToggle()">Afbryd</a>
            </div>
        </div>
    </form>
</div>
<div class="row actions" ng-show="!newTodo && !editTodo">
    <div class="col-md-4">
        <a class="btn btn-info btn-lg btn-block" ng-click="newTodoToggle()">Indtast nyt punkt til huskelisten</a>
    </div>
</div>

<script type="text/javascript">
    $('#organizer').addClass('active');
    $('#todolist').addClass('active');
</script>
