<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand home" href="#!home">Familielejr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li id="about" ng-show="isLoggedIn"><a href="#!about">Om familielejren</a></li>
            <li id="history" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Historie<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="campmap"><a href="#!campmap">Kort</a></li>
                    <li id="camplist"><a href="#!camplist">Liste over lejre</a></li>
                </ul>
            </li>
            <li id="familytree" ng-show="isLoggedIn"><a href="#!familytree">Stamtræ</a></li>
            <li id="photoalbum" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fotoalbum<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!photoupload">Upload af billeder</a></li>
                    <li><a href="#!photoalbum/1993">1993</a></li>
                    <li><a href="#!photoalbum/1994">1994</a></li>
                    <li><a href="#!photoalbum/1995">1995</a></li>
                    <li><a href="#!photoalbum/1996">1996</a></li>
                    <li><a href="#!photoalbum/1997">1997</a></li>
                    <li><a href="#!photoalbum/1998">1998</a></li>
                    <li><a href="#!photoalbum/1999">1999</a></li>
                    <li><a href="#!photoalbum/2000">2000</a></li>
                    <li><a href="#!photoalbum/2001">2001</a></li>
                    <li><a href="#!photoalbum/2002">2002</a></li>
                    <li><a href="#!photoalbum/2003">2003</a></li>
                    <li><a href="#!photoalbum/2004">2004</a></li>
                    <li><a href="#!photoalbum/2005">2005</a></li>
                    <li><a href="#!photoalbum/2006">2006</a></li>
                    <li><a href="#!photoalbum/2007">2007</a></li>
                    <li><a href="#!photoalbum/2008">2008</a></li>
                    <li><a href="#!photoalbum/2009">2009</a></li>
                    <li><a href="#!photoalbum/2010">2010</a></li>
                    <li><a href="#!photoalbum/2011">2011</a></li>
                    <li><a href="#!photoalbum/2012">2012</a></li>
                    <li><a href="#!photoalbum/2013">2013</a></li>
                    <li><a href="#!photoalbum/2014">2014</a></li>
                    <li><a href="#!photoalbum/2015">2015</a></li>
                    <li><a href="#!photoalbum/2016">2016</a></li>
                    <li><a href="#!photoalbum/2017">2017</a></li>
                    <li><a href="#!myphotoalbum">Mine billeder</a></li>
                </ul>
            </li>
            <li id="nextcamp" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Næste Familielejr<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="nextcampinfo"><a href="#!eventinfo">Information</a></li>
                    <li id="eventreg"><a href="#!eventregistration">Tilmelding</a></li>
                    <li id="eventregall"><a href="#!eventregistrationall">Liste over alle tilmeldte</a></li>
                </ul>
            </li>
            <li id="register" ng-show="!isLoggedIn"><a href="#!register">Registrer</a></li>
            <li id="login" ng-show="!isLoggedIn"><a href="#!login">Login</a></li>
            <li id="myaccount" ng-show="isLoggedIn" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Min konto <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="logout"><a href="#!logout">Log ud</a></li>
                    <li id="myprofile"><a href="#!profile">Min profil</a></li>
                    <li id="changepassword"><a href="#!changepassword">Ændre kodeord</a></li>
                </ul>
            </li>
            <li id="organizer" ng-show="isLoggedIn && role < 2" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arrangør<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="invitationadmin"><a href="#!invitationadmin">Administrer invitation</a></li>
                    <li id="futurecamps"><a href="#!futurecamps">Fremtidige lejre</a></li>
                    <li id="eventregall"><a href="#!eventregistrationall">Administrer tilmeldinger</a></li>
                    <li id="todolist"><a href="#!todolist">Huskelister</a></li>
                    <li id="finances"><a href="#!finances">Økonomi</a></li>
                    <li id="usersadmin"><a href="#!usersadmin">Brugere</a></li>
                </ul>
            </li>
            <li id="admin" ng-show="isLoggedIn && role < 1" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrator<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="usersadmin"><a href="#!usersadmin">Administrer brugere</a></li>
                    <li id="photoadmin"><a href="#!photoadmin">Administrer billeder</a></li>
                    <li id="todolistadmin"><a href="#!todolistadmin">Administrer Huskelister</a></li>
                </ul>
            </li>
            <li><a href="#!content">Kontakt</a></li>
        </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div>
    <h2>Liste over brugere</h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%">Navn</th>
                <th width="25%">Adresse</th>
                <th width="20%">email</th>
                <th width="10%">Telefon</th>
                <th width="10%">Rolle</th>
                <th ng-if="role == 0" width="10%">Ændre / Slet</th>
                <th ng-if="role == 0" width="10%">Ændre rolle</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.name.firstname }} {{ user.name.middlename }} {{ user.name.surname }} </td>
                <td><span>{{user.address.street}} {{user.address.houseno}}</span>
                    <span ng-show="!user.address.floor">, </span>
                    <span ng-show="user.address.floor">, {{user.address.floor}}</span>
                    <span ng-show="user.address.direction">{{user.address.direction}}</span>
                    <span>{{user.address.zip}} {{user.address.town}}</span>
                </td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                <td>{{ user.phone }}</td>
                <td>
                    <span ng-show="user.role == 0">Administrator</span>
                    <span ng-show="user.role == 1">Arrangør</span>
                    <span ng-show="user.role == 2">Bruger</span>
                </td>
                <td ng-show="role == 0">
                    <a class="btn btn-primary" href="#!users/edit/{{user._id}}">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="removeUser(user._id)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
                <td ng-show="role == 0">
                    <a ng-show="user.role != 2" class="btn btn-primary" ng-click="changeRole(user._id, 2, user.name.firstname)">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                    <a ng-show="user.role != 1" class="btn btn-primary" ng-click="changeRole(user._id, 1, user.name.firstname)">
                        <i class="glyphicon glyphicon-paperclip"></i>
                    </a>
                    <a ng-show="user.role != 0" class="btn btn-primary" ng-click="changeRole(user._id, 0, user.name.firstname)">
                        <i class="glyphicon glyphicon-wrench"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <p>Tegnforklaring: 
        <i class="glyphicon glyphicon-edit"></i> Ændre brugerdetaljer. 
        <i class="glyphicon glyphicon-trash"></i> Slet brugeren. 
        <i class="glyphicon glyphicon-info-sign"></i> Ændre rolle til bruger. 
        <i class="glyphicon glyphicon-paperclip"></i> Ændre rolle til arrangør. 
        <i class="glyphicon glyphicon-wrench"></i> Ændre rolle til administrator.
    </p>
</div>
<hr>
<div>
    <h2><a href="mailto:{{allEmails}}">Send email til alle brugere</a></h2>
    <p>Denne link åbner et nyt email i dit favorit email program</p>
    <br>
    <h3>Liste over alle email adresser. Kan kopieres over i "Til" feltet i dit email program, hvis linken ovenfor ikke virker for dig.</h3>
    <p>{{allEmails}}</p>
</div>

<script type="text/javascript">
    $('#admin').addClass('active');
    $('#usersadmin').addClass('active');
</script>