<div class="row">
    <div class="col-md-6">
        <h2>Liste over brugere ({{users.length}})</h2>
    </div>
</div>
<hr>
<div class="row">
    <table class="table table-striped" name="registered" id="registered">
        <thead>
            <tr>
                <th width="20%">Navn
                    <a ng-click="sortByName('firstname','up')">
                        <span class="glyphicon glyphicon-chevron-up" ng-mouseover="showPopoverSortFnUp()" ng-mouseleave="hidePopoverSortFnUp()"></span>
                        <div class="mypopover" ng-show="FnUpPopoverIsVisible">Sortere efter fornavn, op</div>
                    </a>
                    <a ng-click="sortByName('firstname','down')">
                        <span class="glyphicon glyphicon-chevron-down" ng-mouseover="showPopoverSortFnDn()" ng-mouseleave="hidePopoverSortFnDn()"></span>
                        <div class="mypopover" ng-show="FnDnPopoverIsVisible">Sortere efter fornavn, ned</div>
                    </a>
                    <a ng-click="sortByName('surname','up')">
                        <span class="glyphicon glyphicon-chevron-up" ng-mouseover="showPopoverSortSnUp()" ng-mouseleave="hidePopoverSortSnUp()"></span>
                        <div class="mypopover" ng-show="SnUpPopoverIsVisible">Sortere efter efternavn, op</div>
                    </a>
                    <a ng-click="sortByName('surname','down')">
                        <span class="glyphicon glyphicon-chevron-down" ng-mouseover="showPopoverSortSnDn()" ng-mouseleave="hidePopoverSortSnDn()"></span>
                        <div class="mypopover" ng-show="SnDnPopoverIsVisible">Sortere efter efternavn, ned</div>
                    </a>
                </th>
                <th width="40%">Adresse</th>
                <th width="25%">email</th>
                <th width="15%">Telefon</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.name.firstname }} {{ user.name.middlename }} {{ user.name.surname }} </td>
                <!-- <td><span>{{user.address.street}} {{user.address.houseno}}</span>
                    <span ng-show="!user.address.floor">, </span>
                    <span ng-show="user.address.floor">, {{user.address.floor}}</span>
                    <span ng-show="user.address.direction">{{user.address.direction}}</span>
                    <span>{{user.address.zip}} {{user.address.town}}</span>
                </td> -->
                <td>{{user.fullAddress}}</td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                <td>{{ user.phone }}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div>
    <h2>Deltagere i Familielejren, som ikke har registreret sig på hjemmesiden ({{nausers.length}})</h2>
    <table class="table table-striped" name="notregistered" id="notregistered">
        <thead>
            <tr>
                <th width="20%">Navn
                    <a ng-click="sortByName('firstname','up')">
                        <span class="glyphicon glyphicon-chevron-up" ng-mouseover="showPopoverSortFnUp()" ng-mouseleave="hidePopoverSortFnUp()"></span>
                        <div class="mypopover" ng-show="FnUpPopoverIsVisible">Sortere efter fornavn, op</div>
                    </a>
                    <a ng-click="sortByName('firstname','down')">
                        <span class="glyphicon glyphicon-chevron-down" ng-mouseover="showPopoverSortFnDn()" ng-mouseleave="hidePopoverSortFnDn()"></span>
                        <div class="mypopover" ng-show="FnDnPopoverIsVisible">Sortere efter fornavn, ned</div>
                    </a>
                    <a ng-click="sortByName('surname','up')">
                        <span class="glyphicon glyphicon-chevron-up" ng-mouseover="showPopoverSortSnUp()" ng-mouseleave="hidePopoverSortSnUp()"></span>
                        <div class="mypopover" ng-show="SnUpPopoverIsVisible">Sortere efter efternavn, op</div>
                    </a>
                    <a ng-click="sortByName('surname','down')">
                        <span class="glyphicon glyphicon-chevron-down" ng-mouseover="showPopoverSortSnDn()" ng-mouseleave="hidePopoverSortSnDn()"></span>
                        <div class="mypopover" ng-show="SnDnPopoverIsVisible">Sortere efter efternavn, ned</div>
                    </a>
                </th>
                <th width="40%">Adresse</th>
                <th width="25%">email</th>
                <th width="15%">Telefon</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="nauser in nausers">
                <td>{{ nauser.name.firstname }} {{ nauser.name.middlename }} {{ nauser.name.surname }} </td>
                <!-- <td><span>{{nauser.address.street}} {{nauser.address.houseno}}</span>
                    <span ng-show="!nauser.address.floor">, </span>
                    <span ng-show="nauser.address.floor">, {{nauser.address.floor}}</span>
                    <span ng-show="nauser.address.direction">{{nauser.address.direction}}</span>
                    <span>{{nauser.address.zip}} {{nauser.address.town}}</span>
                </td> -->
                <td>{{nauser.fullAddress}}</td>
                <td><a href="mailto:{{ nauser.email }}">{{ nauser.email }}</a></td>
                <td>{{ nauser.phone }}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div class="row actions">
    <div class="col-md-6">
        <a class="btn btn-info btn-lg btn-block" onclick="makeExcelFile('registered', 'registrerede.xlsx', 'registrerede')">Hent liste over registrerede i Excel format</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-danger btn-lg btn-block" onclick="makeExcelFile('notregistered', 'ikke-registrerede.xlsx', 'ikke-registrerede')">Hent liste over ikke-registrerede i Excel format</a>
    </div>
</div>
