<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Flensburg Familielejren">
    <meta name="author" content="Bo Finnemann">
    <link rel="icon" href="../../favicon.ico">

    <title>Familielejr fotoalbum</title>

    <!-- Bootstrap core CSS -->
    <link href="js/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <link href="stylesheets/stylesheet.css" rel="stylesheet">
    <link href="stylesheets/familytree.css" rel="stylesheet">

  </head>

  <body ng-app="familielejr">

    <div ng-controller="photoalbumCtrl">

      <div class="photoalbumhor-full" ng-show="mainImageObj.orientation == 0">
        <a href="{{mainImage}}" target="_blank">
            <img class="img-responsive" src="{{mainImage}}">
        </a>
      </div>
      <div class="photoalbumver-full" ng-show="mainImageObj.orientation == 1">
        <a href="{{mainImage}}" target="_blank">
            <img class="img-vertical-full" src="{{mainImage}}">
        </a>
      </div>
      <div class="previmage-full">
        <h1 class="glyphicon glyphicon-chevron-left" ng-click="prevImage()"></h1>
      </div>
      <div class="nextimage-full">
        <h1 class="glyphicon glyphicon-chevron-right" ng-click="nextImage()"></h1>
      </div>
                
    </div><!-- ng-controller -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/libs/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- <script src="js/libs/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="js/libs/bower_components/jquery-validation/dist/additional-methods.min.js"></script> -->
    <script src="js/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="js/libs/bower_components/angular/angular.min.js"></script>
    <script src="js/libs/bower_components/angular-route/angular-route.min.js"></script>
    <script src="js/libs/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="js/libs/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
    <script src="controllers/photo.controller.js"></script>
  </body>
</html>
