.campmap .angular-google-map-container {
	height: 600px;
	width: 1200px;
}

.eventinfo .angular-google-map-container {
	height: 600px;
	width: 600px;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 30px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: steelblue;
    width: 0;
}

.previmage {
    position: absolute;
    top: 40%;
    left: 5%;
    color: rgb(10, 121, 20);
}

.nextimage {
    position: absolute;
    top: 40%;
    right: 5%;
    color: rgb(10, 121, 20);
}

.div-horizontal-520-ver {

}

.div-horizontal-680-ver {

}

.div-horizontal-780-ver {

}

.div-horizontal-930-ver {

}

.div-horizontal-1080-ver {

}

.div-horizontal-1081-ver {

}

.div-horizontal-520-4-3 {

}

.div-horizontal-680-4-3 {

}

.div-horizontal-780-4-3 {

}

.div-horizontal-930-4-3 {

}

.div-horizontal-1080-4-3 {

}

.div-horizontal-1081-4-3 {

}

.div-horizontal-520-16-9 {

}

.div-horizontal-680-16-9 {

}

.div-horizontal-780-16-9 {

}

.div-horizontal-930-16-9 {
    height: 800px;
}

.div-horizontal-1080-16-9 {
    height: 950px;
}

.div-horizontal-1081-16-9 {
    height: 950px;
}

.img-horizontal-520-ver {
    height: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-horizontal-680-ver {
    height: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-horizontal-780-ver {
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-horizontal-930-ver {
    height: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-horizontal-1080-ver {
    height: 950px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-horizontal-1081-ver {
    height: 970px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-horizontal-520-4-3 {
    height: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-horizontal-680-4-3 {
    height: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-horizontal-780-4-3 {
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-horizontal-930-4-3 {
    height: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-horizontal-1080-4-3 {
    height: 950px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-horizontal-1081-4-3 {
    height: 970px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-horizontal-520-16-9 {
    height: 420px;
}

.img-horizontal-680-16-9 {
    height: 550px;
}

.img-horizontal-780-16-9 {
    height: 650px;
}

.img-horizontal-930-16-9 {
    height: 750px;
    position: absolute;
    left: 160px;}

.img-horizontal-1080-16-9 {
    height: 950px;
    position: absolute;
    left: 140px;
}

.img-horizontal-1081-16-9 {
    height: 970px;
    position: absolute;
    left: 120px;
}

.div-vertical-520-ver {
    height: 420px;
    transform: rotate(90deg);
}

.div-vertical-680-ver {
    height: 550px;
    transform: rotate(90deg);
}

.div-vertical-780-ver {
    height: 650px;
    transform: rotate(90deg);
}

.div-vertical-930-ver {
    height: 800px;
    transform: rotate(90deg);
}

.div-vertical-1080-ver {
    height: 950px;
    transform: rotate(90deg);
}

.div-vertical-1081-ver {
    height: 970px;
    transform: rotate(90deg);
}

.img-vertical-520-ver {
    width: 42%;
    position: absolute;
    top: 20px;
    left: 310px;
}

.img-vertical-680-ver {
    width: 48%;
    position: absolute;
    top: 20px;
    left: 310px;
}
.img-vertical-780-ver {
    width: 55%;
    position: absolute;
    top: 20px;
    left: 270px;
}

.img-vertical-930-ver {
    width: 65%;
    position: absolute;
    top: 20px;
    left: 220px;
}

.img-vertical-1080-ver {
    width: 75%;
    position: absolute;
    top: 20px;
    left: 160px;
}

.img-vertical-1081-ver {
    width: 85%;
    position: absolute;
    top: 20px;
    left: 1800px;
}

.div-horizontal-mobile {

}

.img-horizontal-mobile {
    
}

.div-vertical-mobile {
    height: 420px;
    transform: rotate(90deg);
}

.img-vertical-mobile {
    width: 42%;
    position: absolute;
    top: 20px;
    left: 310px;
}

.acc-table-inc {
    background-color: rgb(4, 75, 4);
    color: white;
}

.acc-table-incomes {
    background-color: rgb(155, 241, 159);
    color: black;
}

.acc-table-exp {
    background-color: rgb(102, 2, 2);
    color: white;
}

.acc-table-expenses {
    background-color: rgb(235, 151, 151);
    color: black;
}

.acc-table-space {
    background-color: rgb(80, 75, 75);
    color: white;
}

.acc-table-head {
    background-color: rgb(5, 28, 54);
    color: white;
}

.acc-table-other {
    background-color: rgb(96, 181, 238);
    color: black;
}

.archive-invitations {
    background-color: white;
    color: black;
    padding: 5px;
    border: 5px solid rgb(36, 17, 105);
    border-radius: 10px;
}

.archive-menus {
    background-color: white;
    color: black;
    padding: 5px;
    border: 5px solid rgb(9, 58, 8);
    border-radius: 10px;
}

.archive-shoppinglists {
    background-color: white;
    color: black;
    padding: 5px;
    border: 5px solid rgb(128, 13, 13);
    border-radius: 10px;
}

.archive-accounts {
    background-color: white;
    color: black;
    padding: 5px;
    border: 5px solid rgb(116, 8, 101);
    border-radius: 10px;
}

.archive-others {
    background-color: white;
    color: black;
    padding: 5px;
    border: 5px solid rgb(68, 62, 5);
    border-radius: 10px;
}

.archive-different {
    background-color: white;
    color: black;
    padding: 5px;
    border: 5px solid rgb(9, 101, 107);
    border-radius: 10px;
}

.archive-headline {
    background-color: rgb(16, 116, 12);
    color: white;
    padding: 3px;
    border: 3px solid black;
    border-radius: 10px;
}

.mypopover {
    position: absolute;
    z-index: 100;
    background-color: rgb(243, 217, 161);
    color: black;
}

.mypopover2 {
    position: absolute;
    z-index: 100;
    background-color: rgb(182, 243, 223);
    color: black;
}

.ul1organizerinstruction {
    margin-left: 20px
}

.ul2organizerinstruction {
    margin-left: 20px
}

.organizerinstructionlink {
    color: red;
    text-align: center;
    border: solid black;
}

.willnotattend {
    color: red;
}